{% load staticfiles %}
<style type="text/css">
	.req-card-main
	{
		background-color: #7d97ad;
		min-height: 300px;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		border-style: solid;
		border-color: #1c262f; 
		padding: 10px;
	}

	.card-action a
	{
       margin: 10px;
	}

	#heading
	{
		color: #1c262f;
		font-size: 25px;
		font-weight: bold;
	}

	#content p
	{
		font-size: 16px;
	}

	#content #package
	{
		color: #fbc02d;
	}
	
</style>


<div class="container">
	<p style="font-size: 17px" class="flow-text col s12 blue-text text-darken-4 blue lighten-5 center-align"><b>Note: </b>Salary cannot be changed later on. If you wish to negotiate with the college, please decline the request and mention this reason. You can also initiate a request with your terms.</p>
	<div class="col s8 offset-s2 request-content">
		{% for ass in associations %}
			<div class="col s12 card-panel teal lighten-4 center-align">
				<span class="card-title" id="heading">Association Request</span>
				<div class="card-content purple-text text-darken-4 left-align" id="content">
					<p> <b>Session Type:</b> {% if ass.obj.type == 'I' %}Internship{% else %}Job{% endif %}</p>
					<p> <b>College:</b> {{ ass.obj.college.name }}</p>
					<p> <b>Programme:</b> {{ ass.obj.programme }}</p>
					<p> <b>Streams:</b> {{ ass.streams }}</p>
					<p> <b>Salary:</b> {{ ass.obj.salary }} LPA</p>
				</div>
	
				<div class="card-action yellow-text">
					<a class="waves-effect waves-light btn" href=" {% url 'createsession' %}?ass={{ ass.hashid }}">Accept</a>
					<a class="waves-effect waves-light btn" href=" {% url 'decline' %}?ass={{ ass.hashid }}">Decline</a>
				</div>
	
			</div>
			{% empty %}
				<b><h1 class="center flow-text teal-text text-accent-4">No requests at the moment.</h1></b>
		{% endfor %}
	</div>
</div>
