{% extends 'account/base.html' %}
{% load material_form %}
{% block title %} Company | Sign Up {% endblock title %}
{% block content %}
    <form enctype="multipart/form-data" action="{% url 'create_company' %}" method='POST' id='company-creation-form' >
        {% csrf_token %}
		<div class="row">
			<div class="col s6 m12">
				<h4> Create Profile </h4>
				<div>
	 		     	{% form form=company_creation_form %}{% endform %}
				 </div>
			</div>
		</div>
		<div class="row">
			<div class="col s6 m12">
		        <button type="submit" name="createcompany" class="btn waves-effect waves-light">Finish<i class="material-icons right">send</i></button>
			</div>
		</div>
    </form>
	<br />
	<a href="{% url 'logout' %}">Logout</a>
{% endblock content %}
