{% extends 'index.html' %}
{% block edit_profile_url %}
	{% url 'edit_company_profile' %}
{% endblock %}

{% block photo %}
	{% if company.photo %}
		{{ company.photo.url }}
	{% endif %}
{% endblock %}

{% block sociallinks %}
	{{ block.super }}
	<li><a href="#"><span><i class="fa fa-facebook-official"></i>&nbsp;Facebook</span></a></li>
{% endblock %}

{% block leftpanellinks %}
	{{ block.super }}
	<li><a href="{% url 'edit_company_profile' %}"><span><span class="fa fa-cog"></span>Settings</span></a></li>
    <li><a href="{% url 'logout' %}"><span><span class="fa fa-sign-out"></span>Logout</span></a></li>
{% endblock %}

{% block tab_one_title %}
	Association Requests
{% endblock %}

{% block tab_two_title %}
	Associate With Colleges
{% endblock %}

{% block tab_one_content %}
	<p> <a href="{% url 'company_association_requests' %}">View Association Requests</a></p>
{% endblock %}

{% block tab_two_content %}
	<p> <a href="{% url 'associate' %}"> Associate With Colleges </a></p>
{% endblock %}
