{% extends 'account/base_home_layout.html' %}
{% load staticfiles %}
{% load material_form %}

{% block head %}
	<link rel="stylesheet" type="text/css" href="{% static 'sweetalert/dist/sweetalert.css' %}">
{% endblock %}

{% block user_photo %}
	{% if company.photo %}
		<img src="{{ company.photo.url }}" class="circle" height="64" width="64">
	{% else %}
		<img src="{% static 'images/company.png' %}" class="circle" height="64" width="64">
	{% endif %}
{% endblock %}

{% block user_name_card %}
	{{ company.name | title }}
{% endblock %}

{% block user_email_id %}
	{{ company.profile.email }}
{% endblock %}


{% block user_photo_s %}
	{% if company.photo %}
		<img src="{{ company.photo.url }}" class="circle" height="90" width="90">
	{% else %}
		<img src="{% static 'images/company.png' %}" class="circle" height="90" width="90">
	{% endif %}
{% endblock %}

{% block user_name_card_s %}
	{{ company.name | title }}
{% endblock %}

{% block user_email_id_s %}
	{{ company.profile.email }}
{% endblock %}

{% block edit_profile_url %}
	{% url 'edit_company_profile' %}
{% endblock %}

{% block menu_icon_dropdown %}
	<li><a href="{% url 'manage_dissociation' %}">Block/Unblock Colleges</a></li>
	<li class="divider"></li>
	<li><a href="#">Report</a></li>
    <li class="divider"></li>
{% endblock %}

{% block user_type %}
	Company
{% endblock %}

{% block user_name %}
	{{ company.name | title }}
{% endblock %}

{% block user_photo2 %}
	{% if company.photo %}
		<img src="{{ company.photo.url }}" class="circle" height="30" width="30" id="img-corner">
	{% else %}
		<img src="{% static 'images/company.png' %}" class="circle" height="30" width="30" id="img-corner">
	{% endif %}
{% endblock %}

{% block side_nav_links %}
    <li data-main_div="#associate"><a class="waves-effect" href="#!" style=""><i class="fa fa-building" aria-hidden="true"></i>
          Associate Colleges</a></li>
    <li data-main_div="#requests"><a class="waves-effect" href="#!"><i class="fa fa-envelope" aria-hidden="true"></i> 
          Association Requests</a></li>      
    <li data-main_div="#myrequests"><a class="waves-effect" href="#!"><i class="fa fa-envelope" aria-hidden="true"></i> 
          Association Requests</a></li>      
    <li data-main_div="#notifications"><a class="waves-effect" href="#!"><i class="fa fa-bell" aria-hidden="true"></i>Notifications</a></li>     
    <li data-main_div="#sessions_div"><a class="waves-effect" href="#!"><i class="fa fa-clock-o" aria-hidden="true"></i>
            Sessions</a></li>
    
    <li class="no-padding">
        <ul class="collapsible collapsible-accordion">
          <li data-main_div="#settings" class="expandable">
            <a class="collapsible-header"><i class="fa fa-cog" aria-hidden="true"></i>
            Settings</a>
            <div class="collapsible-body">
              <ul>
                <li class="child-li" data-child_div="#account-settings"><a href="#!"><i class="fa fa-sliders" aria-hidden="true"></i>
                    Account Settings</a></li>
                <li class="child-li" data-child_div="#profile-settings"><a href="#!"><i class="fa fa-wrench" aria-hidden="true"></i>
                   Profile Settings</a></li>
                <li class="child-li" data-child_div="#social-settings"><a href="#!"><i class="fa fa-users" aria-hidden="true"></i>
                      Social Profile Settings</a></li>
                
              </ul>
            </div>
          </li>
        </ul>
      </li>
{% endblock %}



{% block tabs%}
	<li class="tab col s3"><a class="active" href="#associate">Associate With Colleges</a></li>
	<li id = "request" class="tab col s2" data-url="/college/association_requests/"><a href="#requests">Association Requests</a></li>
	<li id = "myrequest" class="tab col s2" data-url="/recruitment/myrequests/"><a href="#myrequests">My Requests</a></li>
	<li id = "notification" class="tab col s2"><a url="{% url 'get_notifications' %}" id="notification-anchor" href="#notifications">Notification</a></li>
	<li class="tab col s2"><a href="#settings">Settings</a></li>
	<li id="session" class="tab col s2"><a href="#sessions_div">Sessions</a></li>
{% endblock %}

{% block tabs_content %}
	<div id="associate" class="col s12">
		<form method="POST" action={% url 'associate' %} id="associate-form" class="col s8 offset-s2">
			{% csrf_token %}
			{% form form=association_form%}{% endform %}
			<div class="col s8 offset-s2">
				<button type="submit" class="btn btn-waves" style="width: 100%">Associate</button>
			</div>
		</form>
	</div>
	<div id="requests" class="col s12"></div>
	<div id="myrequests" class="col s12"></div>
	<div id="notifications">
		<h4 class="col s12 m10 offset-m1 flow-text center-align"><b>Your Notifications</b></h4>
		<div id="your-notifications-div" class="col s12 m8 offset-m2">			
			<ul id="your-notifications-div-ul" class="collection">
				<li class="collection-item avatar"><i class="material-icons circle">report_problem</i><span class="title">None</span><p>Please click on the Notification Tab Button.</p></li>
				</ul>
		</div>
	</div>
	<div id="settings" class="col s12">
		<div class="vertical-tabs">
			<div class="row">
				<div class="col s3">
					<ul class="tabs">
						<li class="tab col s12"><a class="active" href="#account-settings">Account Settings</a></li>
						<li class="tab col s12"><a href="#profile-settings">Profile Settings</a></li>
						<li class="tab col s12"><a href="#social-settings">Social Profile Settings</a></li>
					</ul>
				</div>
				<div class=" col s8 offset-s1">
					<div id="account-settings" class="col s12">
						<h4 class="center" style="color: goldenrod"> Account Settings </h4>
						<form method="POST" action="{% url 'edit_account' %}" id="edit-account-form">
							{% csrf_token %}
							{% form form=edit_account_form %}{% endform %}
							<div class="row">
								<button class="col s8 offset-s2 btn btn-waves" type="submit">Update Account</button>
							</div>
						</form>
					</div>
					<div id="profile-settings" class="col s12">
						<h4 class="center" style="color: goldenrod"> Profile Settings </h4>
						<form method="POST" action="{% url 'edit_company_profile' %}" id="edit-profile-form">
							{% csrf_token %}
							{% form form=edit_company_form %}{% endform %}
							<div class="row">
								<button class="col s8 offset-s2 btn btn-waves" type="submit">Update Profile</button>
							</div>
						</form>
					</div>
					<div id="social-settings" class="col s12">
						<h4 class="center" style="color: goldenrod"> Social Profile </h4>
						<form method="POST" action="{% url 'social_profile' %}" id="social-profile-form">
							{% csrf_token %}
							{% form form=social_profile_form %}{% endform %}
							<div class="row">
								<button class="col s8 offset-s2 btn btn-waves" type="submit">Update Profile</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="sessions_div" class="col s12"></div>

	{% if badge %}
		<span class="badge" id="notifications_badge">{{ badge }}</span>
	{% endif %}

<!-- Session Filter Forms' SideNav -->
<ul id="session-filter-forms-out" class="side-nav">
	<li>
		<form data-filter="sessions" class="session-filter-form col s12 m10 offset-m1" method="POST" action="{% url 'filter_sessions' %}">
			{% csrf_token %}
			<h1 class="subheader">Session Filter Form</h1>
			{% form form=session_filter_form %}{% endform %}
			<div class="row">
				<button class="col s12 btn btn-waves" type="submit">Filter</button>
			</div>
		</form>
	</li>
  </ul>
  <!-- -->
{% endblock %}

{% block scripts %}
	<script type="text/javascript" src="{% static 'common/search.js' %}"></script>
	<script type="text/javascript" src="{% static 'common/sessions.js' %}"></script>
	<script type="text/javascript" src="{% static 'common/settings.js' %}"></script>
	<script type="text/javascript" src="{% static 'recruitment/requests.js' %}"></script>
	<script type="text/javascript" src="{% static 'recruitment/associate.js' %}"></script>
	<script type="text/javascript" src="{% static 'common/mobile.js' %}"></script>
	<script type="text/javascript" src="{% static 'download/download.js' %}"></script>
	<script type="text/javascript" src="{% static 'notification/company.js' %}"></script>
	<script src="{% static 'sweetalert/dist/sweetalert.min.js' %}"></script>
	<script>
		$(document).ready(function() {
			Search.init();
			Session.init();
			Settings.init(['edit-account-form', 'edit-profile-form', 'social-profile-form']);
			Associate.init(['associate-form']);
			Request.init();
			Mobile.init();
			Notification.init();
		});

	</script>
{% endblock scripts %}
