{% load staticfiles %}
{% if sessions %}
<div class="col s12">
	<div id="filter-preloader" class="col s6 offset-s2"></div>
	<div class="col s2 offset-s2">
		<a href="#" data-activates="session-filter-forms-out" class="session-filter-forms-sideNav btn">Filter&nbsp;<i class="fa fa-filter fa-3x"></i></a>
	</div>
</div>

<ul class="collection col s8 offset-s2">
	{% for session in sessions %}
		<li class="collection-item avatar" data-sess="{{ session.sess_hashid }}">
			{% if session.photo %}
				<img src="{{ session.photo.url }}" alt="College" class="circle" />
			{% endif %}
			<span class="title">{{ session.type|title }} at {{ session.college }}</span>
			<p>
				{{ session.salary }}
				<br>
				<p>
					{{ session.streams }}
				</p>
				<br>
					{{ session.students }} student{{ session.students|pluralize }} in the session
			</p>
			<span class="secondary-content">
				<a href="{% url 'manage_session' session.sess_hashid %}"><i class="fa fa-2x fa-cogs"></i></a>
				<a href="{% url 'excel' session.sess_hashid %}" class="excel"><i class="fa fa-2x fa-file-excel-o"></i></a>
			</span>
			
		</li>
	{% endfor %}
</ul>
{% else %}
	{% if filtering %}
		<b><h1 class="center flow-text teal-text text-accent-4">No sessions found that match the filtering conditions.</h1></b>
	{% else %}
		<b><h1 class="center flow-text teal-text text-accent-4">You are currently not enrolled in any sessions.</h1></b>
	{% endif %}
{% endif %}
<script>
	$(".session-filter-forms-sideNav").sideNav();
</script>
