{% extends 'account/base_home_layout.html' %}


{% block user_photo %}
	{% if company.photo %}
		{{ company.photo.url }}
	{% endif %}
{% endblock %}

{% block user_name_card %}
	{{ company.name }}
{% endblock %}

{% block user_email_id %}
	{{ company.profile.email }}
{% endblock %}

{% block edit_profile_url %}
	{% url 'edit_company_profile' %}
{% endblock %}

{% block menu_icon_dropdown %}
	<li><a href="#">swgasgfw</a></li>
    <li class="divider"></li>
{% endblock %}

{% block user_type %}
	Company
{% endblock %}

{% block user_name %}
	{{ company.name }}
{% endblock %}

{% block user_photo2 %}
	{% if company.photo %}
		{{ company.photo.url }}
	{% endif %}
{% endblock %}

{% block tabs%}
	<li class="tab col s2"><a class="active" href="#tab1">Association Requests</a></li>
	<li class="tab col s2"><a href="#tab2">Associate with colleges</a></li>
	<li class="tab col s2"><a href="#tab3">Settings</a></li>
{% endblock %}

{% block tabs_content %}
	<div id="tab1" class="col s12">Data 1</div>
	<div id="tab2" class="col s12">Data 2</div>
	<div id="tab3" class="col s12">Data 3</div>
{% endblock %}
