html
{
	background:white;
}

#heading
{
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

h4
{
	color: #1c262f;

}

p
{
	color: red;
	margin-left: 10px;
}

#images
{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 20px;
}

#images img
{
	margin: 10px;
}