#main-box
{
  padding: 0px 40px 0px 40px;
  height: 600px;
  background-color: #e9f6fc;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

}

#main-inside
{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -80px;
  

}

.box
{
  height: 37%;
  width: 34%;
  background-color: white;
  border:solid;
  border-width: 1px;
  border-color: grey;
  display: flex;
  justify-content: flex-start;
  align-items: center;


}

.pic
{
  margin-left: 2%;
  border-radius: 4px;
  padding: 10px;
  border: solid 1px grey;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
}

img
{
  height: 150px;
  width: auto;
  border-radius: 4px;
  

}

.info
{
  display: flex;
  flex-direction: column;
    padding: 10px;
    justify-content: center;
    margin-left: 20px;
    align-items: stretch;
}


#main-box h4
{
  font-size: 22px;
  color: #4bb5e7;
  margin-bottom: 0px;
}

#main-box h5
{
  font-size: 15px;
  color: black;
  font-weight: bold;
}

#main-box p
{
  size: 10px;
}

.icons
{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.icons i
{
  font-size: 35px;
}

#main-box h3
{
  font-size: 60px;
  margin-top: 50px;
  font-weight: 100;

}

html
{
  background:white;
}

#heading
{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav
{
  height: 64px;
    padding-top: 2px;
    background-color: #1a237e !important;
    padding-left: 5px;
}
#corner-button
{
    position: fixed;
    line-height: 54px;
    font-size: 15px;
    padding: 1px;
    padding-bottom: 5px;
    top: 6px;
    right: 2px;
    width: 170px;
    height: 54px;
    z-index: 50285154165;
}

#heading h4
{
  color: #1c262f;

}

p
{
  color: red;
  margin-left: 10px;
}

#images
{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

#images img
{
  margin: 10px;
}

#logo
{
  display: flex;
  justify-content: center;
  align-items: center;
}


#inner-logo h4
{
  font-size:21px;
  margin-bottom: 1px;
  font-family: "Times New Roman";
  text-transform: capitalize;
}

#inner-logo h6
{
  
  font-size: 14px;
  margin-top: 1px;
  font-family: "Times New Roman";
  text-transform: capitalize;
}


#brand-corner:hover
{
  cursor: pointer;
}

nav .brand-logo { 
    font-family: "Times New Roman"; /* New */
    text-transform: capitalize; /* New */
  font-size: 1.6rem;
}