body
{
	background-image: url("images/main-bg.jpg");
}

.navbar-fixed
{
	height: 0px;
}

main
{
  align-items: center;
	display: flex;
	justify-content: center;
	flex-direction: column;
	margin-top: 50px;
  padding: 10px;
}
main img
{
	margin-bottom: 9px;
}

#form-box
{
	background-color: white;
	display: flex;
	flex-direction: column;
	height: 445px;
  border-radius: 7px;
}

.tabs .tab a {
    color: #26a69a;
}

.tabs .indicator {
   
    background-color: #26a69a;
    width: 50%;  
}

#corner-buttons {
    position: absolute;
    top: 2em;
    right: 2em;
    display: flex;
    flex-direction: column;
}

#corner-buttons-small {
    position: absolute;
    top: 1em;
    right: 1em;
    display: flex;
    justify-content: space-between;
    left: 5%;
    width: 90%;
}

#corner-buttons a{
    margin: 4px;
}



.black_overlay{
      display: none;
      position: absolute;
      top: 0%;
      left: 0%;
      width: 100%;
      height: 100%;
      background-color: black;
      opacity: 0.7;
      z-index:1001;

    }
.white_content {
      display: none;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 5%;
      left: 20%;
      width: 60%;
      height: 90%;
      padding: 10px;
      border: 1px solid white;
      background-color: white;
      z-index:1002;
      overflow: auto;
      color: black;
    }
.white_content #cross
    {
        position: absolute;
        right: 10px;
        top: 10px;
        color: black;
    }

@media screen and (max-width: 992px) {
  
  .white_content {
      display: none;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 1%;
      left: 1%;
      width: 98%;
      height: 98%;
      padding: 10px;
      border: 1px solid white;
      background-color: white;
      z-index:1002;
      overflow: auto;
      color: black;
    }


}


