html {
    height: 100%;
    background: url("images/gg3.jpg") no-repeat center fixed;
    background-size: cover;
    color: white;
    padding: 0px;
}

header
{
    background: rgba(0, 0, 0, 0.6);
}

main {
    min-height: 609px;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    padding: 50px;
}
