{% extends 'account/nav-landing.html' %}
{% load staticfiles %}
{% load material_form %}

{% block title %}Past Recruiters – Guru Gobind Singh Indraprastha University | Placement stats IP university | Placement statistics Indraprastha University | Placement record IP univeristy | Placements at IP university | Placement record of IPU | Placement  percentage of IPU | Training and placement cell - Guru Gobind Singh Indraprastha University{% endblock %}

{% block head %}
  <link type="text/css" rel="stylesheet" href="{% static 'common/css/font-awesome/css/font-awesome.min.css' %}" />
  <link type="text/css" rel="stylesheet" href="{% static 'materialize-blue.css' %}" />
<!--  <link type="text/css" rel="stylesheet" href="{# static 'account/css/stats.css' #}" />-->
<link rel="stylesheet" type="text/css" href="{% static 'sweetalert/dist/sweetalert.css' %}">

<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<!--
<meta name="keywords" content="Placement statistics Guru Gobind Singh Indraprastha University, Placement stats IP university, Placement statistics Indraprastha University, Placement record IP univeristy, Placements at IP university, Placement record of IPU, Placement  percentage of IPU, Training and placement cell Guru Gobind Singh Indraprastha University"> 

<meta name="description" content="Placement statistics of Guru Gobind Singh Indraprastha University | Placement record at IPU | Placement statistics Indraprastha University | Placement record IP univeristy | Placements at IP university">

<meta name="twitter:title" content= "Placement statistics – Guru Gobind Singh Indraprastha University | Placement stats IP university | Placement statistics Indraprastha University | Placement record IP univeristy | Placements at IP university | Placement record of IPU" />

<meta name="twitter:description" content="Placement statistics of Guru Gobind Singh Indraprastha University | Placement record at IPU | Placement statistics Indraprastha University | Placement record IP univeristy | Placements at IP university" />

<meta property="og:title" content="Placement statistics – Guru Gobind Singh Indraprastha University | Placement stats IP university | Placement statistics Indraprastha University | Placement record IP univeristy | Placements at IP university | Placement record of IPU | Placement  percentage of IPU | Training and placement cell - Guru Gobind Singh Indraprastha University" />

<meta property="og:description" content="Placement statistics of Guru Gobind Singh Indraprastha University | Placement record at IPU | Placement statistics Indraprastha University | Placement record IP univeristy | Placements at IP university" />
<meta property="og:url" content= "https://placements.ggsipu.ac.in/stats/" />
-->
{% endblock %}


{% block main %}
<div class="row" style="min-height: 477px; margin-top: 5%">
	<div class="col s12 m10 offset-m1 l8 offset-l2">
		<h1 class="blue-text flow-text text-darken-2 center-align"><b>Recruiters Associated With Us</b></h1>
		<h5 class="center grey lighten-5 teal-text">Company Name (Alphabetically)</h5>
		<table class="striped centered">
			<tbody>
				{% for company in companies %}
					<tr>
						<td>{{ company.one }}</td>
						<td>{{ company.two }}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
	<div class="col s10 offset-s1 divider" style="margin-top: 3%"></div>
	<div class="col s12 m10 offset-m1 l8 offset-l2 flow-text teal lighten-5 teal-text text-darken-3 center" style="margin-top: 3%; margin-bottom: 5%;">Are you a recruiter?&nbsp;&nbsp;<a href="{% url 'auth' %}#other-login-tab">Signup Here</a></div>
</div>
{% endblock %}
