{% extends 'account/base_home_layout.html' %}
{% load staticfiles %}
{% load material_form %}

{% block head %}
	<link rel="stylesheet" type="text/css" href="{% static 'sweetalert/dist/sweetalert.css' %}">
	<link type="text/css" rel="stylesheet" href="{% static 'faculty/home.css' %}?ver=1" /> 
{% endblock %}

{% block user_photo %}
	{% if faculty.photo %}
		<img class="circle" src="{{ faculty.photo.url }}">
	{% else %}
		<div style="height: 64px;width: 64px;background-color:  #17827d;border-radius: 50%;display: flex;justify-content: center;align-items: center;"><h3 style="font-size: 25px;color: white;font-weight: bold;text-transform: uppercase;">{{ faculty.firstname | first }}{{ faculty.lastname | first}}</h3></div>
	{% endif %}
{% endblock %}

{% block user_name_card %}
	{{ faculty.firstname | title }}&nbsp;{{ faculty.lastname | title }}
{% endblock %}

{% block user_email_id %}
	{{ faculty.profile.email }}
{% endblock %}

{% block user_photo_s %}
	{% if faculty.photo %}
		<img src="{{ faculty.photo.url }}" class="circle" height="90" width="90">
	{% else %}
		<div style="height: 90px;width: 90px;background-color: #337ab7;border-radius: 50%;display: flex;justify-content: center;align-items: center;"><h3 style="font-size: 40px;color: white;font-weight: bold;text-transform: uppercase;">{{ faculty.firstname | first }}{{ faculty.lastname | first}}</h3></div>	
	{% endif %}
{% endblock %}

{% block edit_profile_url %}
	{% url 'edit_create_faculty' %}
{% endblock %}

{% block lightbox_data %}
        <div id="light3" class="white_content3">
			<h4 style="color: goldenrod;">Notify All Students</h4>
			<form method='POST' action="#!" id="notify-session-students-form">
					{% csrf_token %}
					{% form form=notify_session_students_form %}{% endform %}
					<div class="row center">
						<button class="btn btn-waves" style="width: 100%">Submit</button>
					</div>
			</form>
            <a href = "javascript:void(0)" onclick = "document.getElementById('light3').style.display='none'; document.getElementById('fade3').style.display='none'; "><i class="fa fa-times fa-2x"></i></a>
        </div>
        <div id="fade3" class="black_overlay3"></div>

 {% endblock %}


{% block menu_icon_dropdown %}
    {% if perms.recruitment.handle_placement %}
	<li><a href="{% url 'manage_dcompany' %}" >Manage Dummy Company</a></li>
    <li class="divider"></li>
	{% endif %}
    <li><a href="#">Report Admin</a></li>
{% endblock %}

{% block user_name_card_s %}
	{{ faculty.firstname | title }}&nbsp;{{ faculty.lastname | title}}
{% endblock %}

{% block user_email_id_s %}
	{{ faculty.profile.email }}
{% endblock %}

{% block user_name %}
	{{ faculty.firstname | title }}&nbsp;{{ faculty.lastname | title }}	
{% endblock %}

{% block user_photo2 %}
	{% if faculty.photo %}
		<img src="{{ faculty.photo.url }}" class="circle" id="img-corner">
	{% else %}
		<div style="height: 30px;width: 30px;margin-top: 15px;background-color: #337ab7;border-radius: 50%;display: flex;justify-content: center;align-items: center;"><h3 style="font-size: 15px;color: white;text-transform: uppercase;">{{ faculty.firstname | first }}{{ faculty.lastname | first}}</h3></div>
	{% endif %}
{% endblock %}

{% block user_type %}
	Faculty
{% endblock %}

{% block side_nav_links %}
	{% if perms.student.verify_student %}
    <li data-main_div="#verify"><a class="waves-effect" href="#!"><i class="fa fa-user" aria-hidden="true"></i>
          Verify Student</a></li>
    {% endif %}

    {% if perms.recruitment.handle_placement %}
    <li id="m-request" data-main_div="#requests" data-url="/college/association_requests/"><a class="waves-effect" href="#requests"><i class="fa fa-envelope" aria-hidden="true"></i>Association Requests</a></li>
    <li id="m-session" data-main_div="#sessions_div"><a class="waves-effect" href="#!"><i class="fa fa-clock-o" aria-hidden="true"></i>Sessions</a></li>
	{% endif %}  
    {% if perms.notification.manage_notification %}
 
	<li class="no-padding">
		<ul class="collapsible collapsible-accordion">
			<li data-main_div="#notifications" class="expandable">	
				<a class="collapsible-header"><i class="fa fa-bell" aria-hidden="true"></i>Notifications {% if badge %}<span class="new badge">{{ badge }}</span>{% endif %}</a>
				<div class="collapsible-body" style="padding: 0 !important;">
					<ul>
						<li class="child-li" data-child_div="#your-notifications-div"><a id="m-your-notifications" detail-url="{% url 'notification_detail' %}" href="#!"><i></i>Your Notifications</a></li>
						<li class="child-li" data-child_div="#notify-students-div"><a id="m-create-notifications" href="#!"><i></i>Notify Students</a></li>
						<li class="child-li" data-child_div="#view-issues-div"><a id="m-view-issues" href="#!" markurl="{% url 'mark' %}" url="{%url 'view_issue' %}"><i></i>Address Issues</a></li>
					</ul>
				</div>
			</li>
		</ul>
	</li>
    {% endif %}

    <li class="no-padding">
        <ul class="collapsible collapsible-accordion">
          <li data-main_div="#settings" class="expandable">
            <a class="collapsible-header"><i class="fa fa-cog" aria-hidden="true"></i>Settings</a>
            <div class="collapsible-body" style="padding: 0 !important">
              <ul>
                <li class="child-li" data-child_div="#account-settings"><a href="#!"><i class="fa fa-sliders" aria-hidden="true"></i>
                    Account Settings</a></li>
                <li class="child-li" data-child_div="#social-settings"><a href="#!"><i class="fa fa-users" aria-hidden="true"></i>
                      Social Profile Settings</a></li>
                <li class="child-li" data-child_div="#profile-settings"><a href="#!"><i class="fa fa-wrench" aria-hidden="true"></i>
                 Profile Settings</a></li>
              </ul>
            </div>
          </li>
        </ul>
      </li>
    {% if perms.recruitment.handle_placement %}
	<li><div class="divider"></div></li>
	<li><a href="{% url 'manage_dcompany' %}" >Manage Dummy Company</a></li>
	{% endif %}
	<li data-main_div="#!"><a href="#">Report Admin</a></li>
	<li><div class="divider"></div></li>
{% endblock %}

{% block tabs %}
	{% if perms.student.verify_student %}
		<li class="tab col s2"><a class="active" href="#verify">Verify students</a></li>
	{% endif %}
	{% if perms.recruitment.handle_placement %}
<!--		<li class="tab col s2"><a href="#tab2">College Associations</a></li>-->
		<li id="request" class="tab col s3" data-url="/college/association_requests/"><a href="#requests">College Association Requests</a></li>
	{% endif %}
	{% if perms.notification.manage_notification %}
	<li id = "notification" class="tab col s2" url="{% url 'select_streams' %}"><a id="notification-anchor" href="#notifications">Notification</a></li>
	{% endif %}
	{% if perms.recruitment.handle_placement %}
		<li id="session" class="tab col s2"><a href="#sessions_div">Sessions</a></li>
	{% endif %}
	<li class="tab col s2"><a href="#settings">Settings</a></li>
{% endblock %}


{% block tabs_content %}
{% if perms.student.verify_student %}
	<div id="verify" class="col s12">
		{% if messages %}
			{% for message in messages %}
				<p {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</p>
			{% endfor %}
		{% endif %}
		<div class="row" id="student-div">
			<p style="display: none" class="info">{# include 'info/verify.html' #}</p>
			<div class="vertical-tabs">
				<div class="row">
					<div class="col s3">
						<ul class="tabs">
							<li class="tab col s12"><a href="#enrollment-div">Get Student</a></li>
							<li class="tab col s12"><a href="#profile-div">Student Profile</a></li>
							<li class="tab col s12"><a href="#tenth-div">Tenth Qualifications</a></li>
							<li class="tab col s12"><a href="#twelfth-div">Twelfth Qualifications</a></li>
							<li class="tab col s12"><a href="#grad-div">Graduation Qualifications</a></li>
						{% if perms.student.delete_student %}
							<li class="tab col s12"><a href="#delete-div">Delete Student</a></li>
						{% endif %}
						</ul>
					</div>
					<div class="col s8 offset-s1" id="tab-content">
						<div class="col s12 m10 offset-m1 card-panel" id="enrollment-div">
							<h4 class="row center teal-text">Verify Students</h4>
								<form action="{% url 'verify' %}" id="enroll-form">
									{% csrf_token %}
									{% form form=enrollment_form %}{% endform %}
									<div class="row">
										<div class="col s8 offset-s2 center">
											<button type="submit" class="btn waves-effect" style="width: 100%">Get Student</button>
										</div>
									</div>
								</form>
						</div>
						<div class="col s12 m10 offset-m1 card-panel" id="profile-div">
							<h4 class="center-align" style="color: lightcoral">Student Profile</h4>
						</div>
						<div class="col s12 m10 offset-m1 card-panel" id="tenth-div">
							<h4 class="center-align" style="color: lightcoral">10th Qualifications</h4>
						</div>
						<div class="col s12 m10 offset-m1 card-panel" id="twelfth-div">
							<h4 class="center-align" style="color: lightcoral">12th Qualifications</h4>
						</div>
						<div class="col s12 m10 offset-m1 card-panel" id="grad-div">
							<h4 class="center-align" style="color: lightcoral">Graduation Qualifications</h4>
						</div>			
					{% if perms.student.delete_student %}
						<div class="col s12 m10 offset-m1 card-panel" id="delete-div">
							<form class="row">
								{% csrf_token %}
								<label for="delete_reason">Reason(s)</label>
								<input name="reason" id="delete_reason" placeholder="Reasons (if any)">
								<button type="submit" class="btn btn-waves red" style="width: 100%" id="delete-btn">Delete Student Forever</button>
							</form>
							<div class="row center">
								<h6 class="red-text">Careful, the student will be deleted forever. Your action will be logged for reference purposes.</h6>
							</div>
						</div>
					{% endif %}
					</div>
				</div>
			</div>
		</div>
	</div>
{% endif %}
{% if perms.recruitment.handle_placement %}
	<div id="requests" class="col s12">Data 3</div>
{% endif %}
{% if perms.notification.manage_notification %}
	<div id="notifications" class="col s12">
		<div class="vertical-tabs">
			<div class="row">
				<div class="col s3">
					<ul class="tabs">
						<li class="tab col s12"><a id = "your-notifications" class="active" href="#your-notifications-div">Your Notifications</a></li>
						<li class="tab col s12"><a id = "create-notifications" href="#notify-students-div">Notify Students</a></li>
						<li class="tab col s12"><a id = "view-issues" href="#view-issues-div" markurl = "{% url 'mark' %}" url="{%url 'view_issue' %}">Address Issues</a></li>
					</ul>
				</div>
				<div class=" col s8 offset-s1">
					<div id="your-notifications-div" class="col s12">
							  <ul id = "your-notifications-div-ul" class="collection">
							  OOPS!! Please Reload.
							  </ul>
					</div>
					<div id="notify-students-div" class="col s12">
					</div>
					<div id="view-issues-div" url = "{% url 'solve_issue' %}" class="col s12">
							  <ul id = "view-issues-div-ul" class="collection">
							  </ul>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endif %}
	<div id="settings" class="col s12">
		<div class="vertical-tabs">
			<div class="row">
				<div class="col s3">
					<ul class="tabs">
						<li class="tab col s12"><a class="active" href="#account-settings">Account Settings</a></li>
						<li class="tab col s12"><a href="#profile-settings">Profile Settings</a></li>
						<li class="tab col s12"><a href="#social-settings">Social Profile Settings</a></li>
					</ul>
				</div>
				<div class=" col s8 offset-s1">
					<div id="account-settings" class="col s12">
						<form method="POST" action="{% url 'edit_account' %}" id="edit-account-form">
							{% csrf_token %}
							{% form form=edit_account_form %}{% endform %}
							<button class="btn btn-waves" type="submit">Update Account</button>
						</form>
					</div>
					<div id="profile-settings" class="col s12">
						<form method="POST" action="{% url 'edit_create_faculty' %}" id="edit-profile-form">
							{% csrf_token %}
							{% form form=edit_faculty_form %}{% endform %}
							<button class="btn btn-waves" type="submit">Update Profile</button>
						</form>
					</div>
					<div id="social-settings" class="col s12">
						<form method="POST" action="{% url 'social_profile' %}" id="social-profile-form">
							{% csrf_token %}
							{% form form=social_profile_form %}{% endform %}
							<button class="btn btn-waves" type="submit">Update</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
{% if perms.recruitment.handle_placement %}
	<div id="sessions_div" class="col s12"></div>
{% endif %}

{% if perms.notification.manage_notification %}
	{% if badge %}
		<span class="badge" id="notifications_badge">{{ badge }}</span>
	{% endif %}
{% endif %}

{% if perms.recruitment.handle_placement %}
<!-- Session Filter Forms' SideNav -->
<ul id="session-filter-forms-out" class="side-nav">
	<li>
		<form data-filter="sessions" class="session-filter-form col s12 m10 offset-m1" method="POST" action="{% url 'filter_sessions' %}">
			{% csrf_token %}
			<h1 class="subheader">Session Filter Form</h1>
			{% form form=session_filter_form %}{% endform %}
			<div class="row">
				<button class="col s12 btn btn-waves" type="submit">Filter</button>
			</div>
		</form>
	</li>
	<li><div class="divider"></div></li>
	<li>
		<form data-filter="dsessions" class="session-filter-form col s12 m10 offset-m1" method="POST" action="{% url 'filter_dsessions' %}">
			{% csrf_token %}
			<h1 class="subheader">Dummy Session Filter Form</h1>
			{% form form=dsession_filter_form %}{% endform %}
			<div class="row">
				<button class="col s12 btn btn-waves" type="submit">Filter</button>
			</div>
		</form>
	</li>
  </ul>
  <!-- -->
{% endif %}

{% if perms.student.verify_student %}
<!-- Score Modal -->
	<div id="score-modal" class="modal modal-fixed-footer">
		<div class="modal-content">
			<h4>Modal Header</h4>
			<p>A bunch of text</p>
		</div>
		<div class="modal-footer">
			<a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Close</a>
			<a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat score-submit-button">Save Changes</a>
		</div>
	</div>
{% endif %}

{% endblock %}

{% block scripts %}
	<script type="text/javascript" src="{% static 'common/search.js' %}"></script>
	<script type="text/javascript" src="{% static 'common/sessions.js' %}"></script>
	<script type="text/javascript" src="{% static 'common/settings.js' %}"></script>
	<script type="text/javascript" src="{% static 'notification/faculty.js' %}"></script>
	<script type="text/javascript" src="{% static 'faculty/verify.js' %}?ver=1"></script>
	<script type="text/javascript" src="{% static 'recruitment/requests.js' %}"></script>
	<script type="text/javascript" src="{% static 'common/mobile.js' %}"></script>
	<script type="text/javascript" src="{% static 'download/download.js' %}"></script>
	<script src="{% static 'sweetalert/dist/sweetalert.min.js' %}"></script>
	<script>
		$(document).ready(function() {
			Search.init();
			Session.init();
			Notification.init();
			Settings.init(['edit-account-form', 'edit-profile-form', 'social-profile-form']);
			VerifyStu.init();
			Request.init();
			Mobile.init();
			if (is_mobile_view) {
				// Warn faculty to use desktop to verify students
				$('#enroll-form').html($('<p class="flow-text blue lighten-5 blue-text text-darken-4 center-align">Please login using a desktop to verify students.</p>'));
			}
		});
	</script>
{% endblock scripts %}
