{% extends 'account/navbar_with_tabs.html' %}
{% load staticfiles %}
{% load material_form %}
{% block title %}Manage Faculty{% endblock %}
{% block pagetitle %}Manage Faculty{% endblock %}
{% block menu_icon_dropdown %}
	{% if request.user.type == 'C' %}
                <li><a href="{% url 'manage_dcompany' %}" >Manage Dummy Company</a></li>
                <li class="divider"></li>
                <li><a href="{% url 'manage_dissociation' %}" >Block/Unblock Companies</a></li>
	{% endif %}
{% endblock %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'sweetalert/dist/sweetalert.css' %}">
{% endblock %}

{% block user_photo2 %}
	{% if college.photo %}
		<img src="{{ college.photo.url }}" class="circle" height="30" width="30" id="img-corner">
	{% else %}
		<img src="{% static 'images/college.png' %}" class="circle" height="30" width="30" id="img-corner">
	{% endif %}
{% endblock %}

{% block user_name_card_s %}
	{{ college.get_short_name }}
{% endblock %}

{% block user_email_id_s %}
	{{ college.profile.email }}
{% endblock %}

{% block user_photo_s %}
	{% if college.photo %}
		<img src="{{ college.photo.url }}" class="circle" height="90" width="90">
	{% else %}
		<img src="{% static 'images/college.png' %}" class="circle" height="90" width="90">
	{% endif %}
{% endblock %}

{% block user_photo %}
	{% if college.photo %}
		<img src="{{ college.photo.url }}" class="circle" height="64" width="64">
	{% else %}
		<img src="{% static 'images/college.png' %}" class="circle" height="64" width="64">
	{% endif %}
{% endblock %}

{% block user_name_card %}
	{{ college.get_short_name }}
{% endblock %}

{% block user_email_id %}
	{{ college.profile.email }}
{% endblock %}

{% block side_nav_links %}
    <li data-main_div="#view-faculty-div"><a class="waves-effect" href="#!" style="">View All Faculty</a></li>
    <li data-main_div="#add-faculty-div"><a class="waves-effect" href="#!" style="">Add New Faculty</a></li>
    <li data-main_div="#faculty-perms-div"><a class="waves-effect" href="#!" style="">Edit Faculty Permissions</a></li>
	<li><div class="divider"></div></li>
	{% if user.type == 'C' %}
		<li><a href="{% url 'manage_dcompany' %}" >Manage Dummy Company</a></li>
		<li><a href="{% url 'manage_dissociation' %}" >Block/Unblock Companies</a></li>
		<li><div class="divider"></div></li>
	{% endif %}
         
{% endblock %}

{% block tabs %}
	<li class="tab col s4"><a class="active" href="#view-faculty-div">View Faculty</a></li>
	<li class="tab col s4"><a href="#add-faculty-div">Add New Faculty</a></li>
	<li class="tab col s4"><a href="#faculty-perms-div">Edit Faculty Permissions</a></li>
{% endblock tabs %}

{% block tabs_content %}
<!--                                     -->
<div id="view-faculty-div" class="col s12 m10 offset-m1">
	<h4 class="center" style="color: goldenrod;">All Faculties Created</h4>
	<ul class="collection">
		{% csrf_token %}
		{% for f in faculties %}
			<li class="collection-item avatar">
				{% if f.faculty.photo %}
					<img src="{{ f.faculty.photo.url }}" alt="Profile Picture" class="circle">
				{% else %}
					<img src="" alt="Profile Picture" class="circle" style="background-color:{% cycle '#02b3e4' '#1c262f'%}" />
				{% endif %}
				<p>
					{% if f.faculty.firstname %}
					<b>Name: </b> <span class="title">{{ f.faculty.get_full_name }}</span><br>
					{% else %}
						<small>User has not created his/her profile yet.</small><br>
					{% endif %}
					<b>Username: </b><span class="title">&lt;{{ f.faculty.profile.username }}&gt;</span><br>
					<b>Email: </b>{{ f.faculty.profile.email }}<br>
					<b>Permissions: </b>{% for group in f.faculty.profile.groups.all %}{{ group }}, {% endfor %}
				</p>
				<span class="secondary-content">
{#<!--					<a href="{% url 'edit_faculty_perms' f.f_hashid %}" class="edit-faculty-perms"><i class="fa fa-pencil fa-2x"></i></a>-->#}
					<a href="{% url 'delete_faculty' f.f_hashid %}" data-position="bottom" data-delay="50" data-tooltip="Delete this faculty" class="delete-faculty"><i class="fa fa-times fa-2x"></i></a>
				</span>
			</li>
		{% empty %}
			<p class="flow-text teal-text text-lighten-1 center-align">You haven't yet created any faculty.</p>
			<p class="flow-text teal-text text-lighten-1 center-align">To create one, move to "Add Faculty" tab.</p>
		{% endfor %}
	</ul>
</div>
<!--                                     -->
<div id="add-faculty-div" class="col s12 m10 offset-m1">
	<div class="col s12">
		<h4 class="center" style="color: goldenrod;">Add Faculty</h4>
		<form action="{% url 'faculty_signup' %}" method='POST' class="col s12" id="create-faculty-form">
			{% csrf_token %}
			{% form form=create_faculty_form %}{% endform %}
			<div class="row">
				<button class="btn btn-waves-light col s8 offset-s2">Create New Faculty</button>
			</div>
		</form>
	</div>
</div>
<!--                                     -->
<div id="faculty-perms-div" class="col s12 m10 offset-m1">
	<div class="col s12">
		<h4 class="center" style="color: goldenrod;">Edit Permissions</h4>
		<form action="/faculty/edit_perms/" method='POST' class="col s12 m10 offset-m1" id="choose-faculty-form">
			{% csrf_token %}
			{% form form=choose_faculty_form %}{% endform %}
			<div class="row">
				<button class="btn btn-waves-light col s8 offset-s2">Choose Faculty</button>
			</div>
		</form>
	</div>
	<div id="edit-faculty-perms-div" class="col s12"><!-- Render Here --></div>
</div>
<!--                                     -->
{% endblock tabs_content %}
{% block scripts %}
	<script type="text/javascript" src="{% static 'common/search.js' %}"></script>
	<script type="text/javascript" src="{% static 'common/settings.js' %}"></script>
	<script type="text/javascript" src="{% static 'faculty/manage.js' %}"></script>
	<script type="text/javascript" src="{% static 'common/mobile.js' %}"></script>
	<script src="{% static 'sweetalert/dist/sweetalert.min.js' %}"></script>
	<script>
		$(document).ready(function() {
			Search.init();
			Settings.init(['create-faculty-form']);
			ManageFaculty.init();
			Mobile.init();
		});
	</script>
{% endblock %}
