{% load staticfiles %}
{% load material_form %}

<script src="{% static 'material/js/jquery-2.2.0.js' %}"></script>
{% include 'material/includes/material_js.html' %}

<form action="{% url 'student_qual' %}" method='POST' id="qual-form" enctype="multipart/form-data">
	{% csrf_token %}
	{% form form=qual_form %}{% endform %}
	<div class="row">
		<div class="col s6 offset-s2">
			<button class="btn btn-waves" type="submit" name="none" value="leave">Ask Student</button>
		</div>
		<div class="col s4">
			<button class="btn btn-waves" type="submit" name="true" value="continue">Verify</button>
		</div>
	</div>
</form>
