{% extends 'account/base.html' %}
{% load staticfiles %}
{% load material_form %}
<script src="{% static 'material/js/jquery-2.2.0.js' %}"></script>
{% include 'material/includes/material_js.html' %}
{% block title %}Verify Student{% endblock %}
{% block content %}
	{% if messages %}
		{% for message in messages %}
			<p {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</p>
		{% endfor %}
	{% endif %}
	<div class="row" id="enrollment-div">
		<div class="col s6 offset-s3">
			<h4>Verify Student</h4>
			<div class="card-panel">
				<form action="{% url 'verify' %}" id="enroll-form">
					{% csrf_token %}
					{% form form=enroll_form %}{% endform %}
					<div class="row">
						<div class="col s6 offset-s3">
							<button type="submit" class="btn waves-effect">Get Student</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
	<div class="row" id="student-div">
		<h4 class="center-align">Student Profile</h4>
		<div class="col s12 m10 offset-m1 card-panel" id="profile-div">
		</div>
		<h4 class="center-align">Student Qualifications</h4>
		<div class="col s12 m10 offset-m1 card-panel" id="qual-div">	
		</div>
		<div class="row">
			<div class="col s12" id="delete-div">
				<form>
					{% csrf_token %}
					<input name="reason" id="delete_reason" placeholder="Reasons (if any)">
					<label for="delete_reason">Reason(s)</label>
					<button type="submit" class="btn btn-waves red" style="width: 100%" id="delete-btn">Delete Student</button>
				</form>
			</div>
			<div class="col s12">
				<small class="red center-align">Careful, the student's account will be deleted forever. Your action will be logged for reference purposes.</small>
			</div>
		</div>
	</div>
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{% static 'faculty/verify.js' %}?ver=1"></script>
<script>
		$(document).ready(function() {
			VerifyStu.init();
		});
</script>
{% endblock %}
