{% load staticfiles %}
{% load material_form %}

<form action="{% url 'verify_cgpa' klass_hashid=hashid %}" method='POST' id="cgpa-form">
	{% csrf_token %}
	{% form form=cgpa_form %}{% endform %}
	<div class="row">
		<a href="#" onclick="$('.vertical-tabs').find('ul.tabs').tabs('select_tab','profile-div');" class="btn-floating large left"><i data-tooltip="Previous" data-delay="25ms" data-position="bottom" class="left-right material-icons">keyboard_arrow_left</i></a>
		<button class="btn btn-waves col s7 offset-s2" type="submit">Save Changes</button>
		<a href="#" onclick="$('.vertical-tabs').find('ul.tabs').tabs('select_tab','twelfth-div');" class="btn-floating large right"><i data-tooltip="Continue" data-delay="25ms" data-position="bottom" class="left-right material-icons">keyboard_arrow_right</i></a>
	</div>
</form>
