html {
    height: 100%;
    background: url("2.jpg") no-repeat center fixed;
    background-size: cover;
    color: white;
    padding: 0px;
}

header
{
    background: rgba(0, 0, 0, 0.6);
}

main {
    min-height: 609px;
    background: rgba(0, 0, 0, 0.6);
    padding: 50px;
}

h2,h3,p
{
    color: #337ab7;
}

#main-box
{
	width: 50%;
	height: 50%;
	position: absolute;
	top: 25%;
	left: 25%;
	background-color: #f2f2f2;
	border-radius: 2%;
	padding: 5px;
}