html {
    min-height: 100%;
    background: url("wall.jpg") no-repeat center;
    background-size: cover;
    color: white;
    padding: 0px;
}


body {
    min-height: 100%;
    padding: 50px;
    margin: 0px;
    color: black;
}

h4,h6,p
{
    color: white;
}

#logout-button
{
    position: absolute;
    right: 20px;
    top: 20px;
}