{% load staticfiles %}
<!-- {# <script src="{% static 'material/js/jquery-2.2.0.js' %}"></script>
{% include 'material/includes/material_js.html' %}
#}-->
<div class="container">
	<div class="col s8 offset-s2 request-content">
		{% for ass in associations %}
			<div class="col s12 card-panel blue-grey darken-1">
				<div class="card-content white-text">
					<span class="card-title">Association Request</span>
					<p> {{ ass.obj }} </p>
					<p> {{ ass.obj.salary }} </p>
				</div>
				<hr />
				<div class="card-action yellow-text">
					<a href=" {{ ass.url.session_url }} ">Accept</a>
					<a href=" {{ ass.url.dissoci_url }} ">Decline</a>
				</div>
				<hr />
			</div>
			{% empty %}
				<b><h1 class="center flow-text teal-text text-accent-4">No requests at the moment.</h1></b>
		{% endfor %}
	</div>
</div>
<!-- <script src="{% static 'material/js/jquery-2.2.0.js' %}"></script> -->
