<div id="dsessions" class="scrollspy">
	<h4 class="center" style="color: #337ab7; font-weight: 600">Dummy Sessions</h4>
	<ul class="collection">
		{% for dsession in dsessions %}
			<li class="collection-item avatar" data-sess="{{ dsession.dsess_hashid }}">
				<span class="title blue-text text-accent-2"><b>{{ dsession.dcompany }}</b> for {{ dsession.type }}</span>
				<p><b>Salary: </b>{{ dsession.salary }}</p>
				<p><b>Programme: </b>{{ dsession.programme }}</p>
				<p><b>Streams: </b>{{ dsession.streams }}</p>
				<p><b>Years: </b>{{ dsession.years }}</p>
				<p><b><span class="orange-text text-darken-2">{{ dsession.students }}</span></b> student{{ dsession.students|pluralize }} in the session</p>
				<span class="secondary-content">
					<a href="{% url 'manage_dsession' dsession.dsess_hashid %}"><i class="fa fa-2x fa-cogs"></i></a>
					<a href="{% url 'notify_dsession' dsession.dsess_hashid %}" class="envelope"><i class="fa fa-2x fa-envelope"></i></a>
					<a href="{% url 'dexcel' dsession.dsess_hashid %}" class="excel"><i class="fa fa-2x fa-file-excel-o"></i></a>
				</span>
			</li>
		{% empty %}
			{% if filtering %}
				<b><h1 class="center flow-text teal-text text-accent-4">No dummy sessions found that match the filtering conditions.</h1></b>
			{% else %}
				<p class="blue-text text-darken-4 center-align">All your <b>Dummy</b> Internship or Job placement sessions, that you create will be displayed here.<br><br><b>Dummy Sessions</b> are placement drives that you post on behalf of a company that has registered on the platform.<br>To create a dummy session, go to "Manage Dummy Company" from <i class="pink-text material-icons">menu</i> on top right corner.<br><b>HOWTO:</b> You'll need to create a dummy company and then create a dummy session with it.</p>
				<b><h1 class="center flow-text teal-text text-accent-4">You have not created any dummy sessions.</h1></b>
			{% endif %}
		{% endfor %}
	</ul>
</div>
<script>
	$('#dsessions').find('.fa-cogs').tooltip({tooltip: 'Settings', delay: 0});
	$('#dsessions').find('.fa-envelope').tooltip({tooltip: 'Notify', delay: 0});
	$('#dsessions').find('.fa-file-excel-o').tooltip({tooltip: 'Excel', delay: 0});
</script>
