{% extends 'account/base.html' %}
{% block title %} Edit Profile {% endblock title %}
{% block content %}
    {% if update %}
        <p>Your profile has been updated.</p>
    {% endif %}
    <form enctype="multipart/form-data" action="{% url 'edit_college_profile' %}" method='POST' id='college-profile-edit'>
        {% csrf_token %}
        {{ college_edit_form.as_p }}
        <input type="submit" name="college_profile" value="Update Profile" />
    </form>
    <br />
	<p> <a href="{% url 'college_home' %}"> Go Home </a></p>
{% endblock content %}
