{% extends 'account/base_home_layout.html' %}
{% load staticfiles %}


{% block user_photo %}
	{% if college.photo %}
		{{ college.photo.url }}
	{% endif %}
{% endblock %}

{% block user_name_card %}
	{{ college.name }}
{% endblock %}

{% block user_email_id %}
	{{ college.profile.email }}
{% endblock %}

{% block menu_icon_dropdown %}
	<li><a href="#">wrgwearg</a></li>
    <li class="divider"></li>
{% endblock %}

{% block user_type %}
	College
{% endblock %}

{% block user_name %}
	{{ college.name }}
{% endblock %}

{% block user_photo2 %}
	{% if college.photo %}
		{{ college.photo.url }}
	{% endif %}
{% endblock %}

{% block tabs%}
	<li class="tab col s2"><a class="active" href="#tab1">Companies Visiting</a></li>
	<li class="tab col s2"><a href="#tab2">Status</a></li>
	<li id = "notification" class="tab col s2" url="{% url 'generate_notifications' %}"><a href="#tab3">Notification</a></li>
	<li class="tab col s2"><a href="#tab4">Settings</a></li>
{% endblock %}

{% block tabs_content %}
	<div id="tab1" class="col s12">Data 1</div>
	<div id="tab2" class="col s12">Data 2</div>
	<div id="tab3" class="col s12">Data 3</div>
	<div id="tab4" class="col s12">Data 4</div>
{% endblock %}


{% block JS %}
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script type="text/javascript" src="{% static 'college/notification.js' %}"></script>
	<script>
	$(document).ready(function () {
		Notification.init();
	});
	</script>
	
{% endblock %}




