{% load staticfiles %}
<div class="col s12">
	<div class="row hide-on-small-only">
		<div id="filter-preloader" class="col s6 offset-s2"></div>
		<div class="col s2 offset-s2">
			<a href="#" data-activates="session-filter-forms-out" class="session-filter-forms-sideNav btn">Filter&nbsp;<i class="fa fa-filter fa-3x"></i></a>
		</div>
	</div>
	<div class="row hide-on-med-and-up">
		<a href="#" data-activates="session-filter-forms-out" class="session-filter-forms-sideNav btn right">Filter&nbsp;<i class="fa fa-filter fa-3x"></i></a>
	</div>
</div>
<div id="all-sessions" class="col s12 m9 l10">
	{% include 'college/sessions_snippet.html' with sessions=sessions %}
	<div class="divider"></div>
	{% include 'college/dsessions_snippet.html' with dsessions=dsessions %}
</div>
<script>
	$(document).ready(function(){
		var pushpin = '<div class="col hide-on-small-only m3 l2"><div class="toc-wrapper"><ul class="table-of-contents"><li><a href="#sessions">Sessions</a></li><li><a href="#dsessions">Dummy Sessions</a></li></ul></div></div>';
		var parsedPushpin = $.parseHTML(pushpin);
		var div = $('#sessions_div');
		div.append(parsedPushpin);
		var top = div.offset().top + 40;
		$('.toc-wrapper').pushpin({top: top, offset:top});
		$('.scrollspy').scrollSpy();
		$(".session-filter-forms-sideNav").sideNav();
	});
</script>
