<div id="sessions" class="scrollspy">
	<h4 class="center" style="color: #337ab7; font-weight: 600">Sessions</h4>
	<ul class="collection">
		{% for session in sessions %}
			<li class="collection-item avatar" data-sess="{{ session.sess_hashid }}">
				{% if session.photo %}
					<img src="{{ session.photo.url }}" alt="Recruiter" class="circle" />
				{% endif %}
				<span class="title blue-text text-accent-2"><b>{{ session.company }}</b> for {{ session.type|title }} </span>
				<p><b>Salary: </b>{{ session.salary }}</p>
				<p><b>Programme: </b>{{ session.programme }}</p>
				<p><b>Streams: </b>{{ session.streams }}</p>
				<p><b>Years: </b>{{ session.years }}</p>
				<p>	<b><span class="orange-text text-darken-2">{{ session.students }}</span></b> student{{ session.students|pluralize }} in the session</p>
				<span class="secondary-content">
					<a href="{% url 'manage_session' session.sess_hashid %}"><i class="fa fa-2x fa-cogs"></i></a>
					<a href="{% url 'notify_session' session.sess_hashid %}" class="envelope"><i class="fa fa-2x fa-envelope"></i></a>
					<a href="{% url 'excel' session.sess_hashid %}" class="excel"><i class="fa fa-2x fa-file-excel-o"></i></a>
				</span>
			</li>
		{% empty %}
			{% if filtering %}
				<b><h1 class="center flow-text teal-text text-accent-4">No sessions found that match the filtering conditions.</h1></b>
			{% else %}
				<p class="blue-text text-darken-4 center-align">All your Internship or Job placement sessions/drives, that you create with <b>companies</b> will be displayed here.</p>
				<b><h1 class="center flow-text teal-text text-accent-4">You are currently not enrolled in any sessions.</h1></b>
			{% endif %}
		{% endfor %}
	</ul>
</div>

<script>
	$('#sessions_div').find('.fa-cogs').tooltip({tooltip: 'Settings', delay: 0});
	$('#sessions_div').find('.fa-envelope').tooltip({tooltip: 'Notify', delay: 0});
	$('#sessions_div').find('.fa-file-excel-o').tooltip({tooltip: 'Excel', delay: 0});
</script>
