{% load staticfiles %}
<div id="{{ htmlid }}" class="scrollspy">
	<h4 class="center" style="color: #337ab7; font-weight: 600">{{ htmlid|title }}</h4>
	<div id="enrolled-{{htmlid}}" class="enrolled nested-scrollspy">
		{% for e in on %}
			{% if e.is_dummy %}
				{% include 'dummy_company/dcompanies_in_my_college.html' with e=e %}
			{% else %}
				{% with e.assoc as enrolled %}
					<div class="card sticky-action">
						<div class="card-image waves-effect waves-block waves-light">
							{% if enrolled.company.photo and 0 %}
								<img class="activator" height=250 width=250 src="{{ enrolled.company.photo.url }}" />
							{% else %}
								<img class="activator" height=250 width=250 src="#" style="background-color:{% cycle 'lightcoral' 'goldenrod' 'cornflowerblue' %}" />
							{% endif %}
						</div>
						<div class="card-content">
							<span class="card-title activator grey-text text-darken-4">
								<b>{{ enrolled.company.name|title }}</b>
								<i class="fa fa-info-circle right" aria-hidden="true"></i>
							</span>
							<h6>{{ htmlid|slice:":-1"|title }} offering <b>&#8377;{{ enrolled.salary }} LPA</b></h6>
							<p><b class="timeleft">{{ e.date|timeuntil }}</b> left to withdraw application</p>
							<!--<p><b>Programme:</b> {{ enrolled.programme }}</p>-->
							<p><b>Year{{ enrolled.session.selection_criteria.years|length|pluralize }}: </b> {{ enrolled.session.selection_criteria.years }}</p>
						</div>
						<div class="card-action">
							<a class="change-enrollment" data-timeleft="{{ e.date|timeuntil }}" href="{% url 'apply' e.sessid %}">Withdraw Application</a>
						</div>
						<div class="card-reveal">
							<span class="card-title grey-text text-darken-4"><b>Details</b><i class="material-icons right">close</i></span>
							<p><b>Programme:</b> {{ enrolled.programme.name }}</p>
							<p><b>Streams:</b>
								{% for stream in enrolled.streams.all %}
									{{ stream.name }}, 
								{% endfor %}
							</p>
							<p><b>Description:</b> {{ enrolled.desc|linebreaksbr }}</p>
							<p><b>Company Details:</b> {{ enrolled.company.details|linebreaksbr }} </p>
							<p><b>Website:</b> <a target="_blank" href="{{ enrolled.company.website }}">{{ enrolled.company.website }}</a></p>
							{% with enrolled.company.profile.social as social %}
								<ul>
									<li></li>
								</ul>
							{% endwith %}
							{% include 'recruitment/criteria.html' with criterion=enrolled.session.selection_criteria %}
						</div>
					</div>
				{% endwith %}
			{% endif %}
		{% endfor %}
	</div>
	<div id="unenrolled-{{htmlid}}" class="unenrolled nested-scrollspy">
		{% for u in off %}
			{% if u.is_dummy %}
				{% include 'dummy_company/dcompanies_in_my_college.html' with u=u %}
			{% else %}
				{% with u.assoc as unenrolled %}
					<div class="card sticky-action">
						<div class="card-image waves-effect waves-block waves-light">
							{% if unenrolled.company.photo and 0 %}
								<img class="activator" height=250 width=250 src="{{ unenrolled.company.photo.url }}" />
							{% else %}
								<img class="activator" height=250 width=250 src="#" style="background-color:{% cycle 'cornflowerblue' 'goldenrod' 'lightcoral' %}" />
							{% endif %}
						</div>
						<div class="card-content">
							<span class="card-title activator grey-text text-darken-4">
								<b>{{ unenrolled.company.name|title }}</b>
								<i class="fa fa-info-circle right" aria-hidden="true"></i>
							</span>
							<h6>{{ htmlid|slice:":-1"|title }} offering <b>&#8377;{{ unenrolled.salary }} LPA</b></h6>
							<p><b>{{ u.date|timeuntil }}</b> left to apply</p>
							<p><b>Year{{ unenrolled.session.selection_criteria.years|length|pluralize }}: </b> {{ unenrolled.session.selection_criteria.years }}</p>
						</div>
						<div class="card-action">
							<a class="change-enrollment" data-timeleft="{{ u.date|timeuntil }}" href="{% url 'apply' u.sessid %}">Apply</a>
						</div>
						<div class="card-reveal">
							<span class="card-title grey-text text-darken-4"><b>Details</b><i class="material-icons right">close</i></span>
							<p><b>Programme:</b> {{ unenrolled.programme.name }}</p>
							<p><b>Streams:</b> 
								{% for stream in unenrolled.streams.all %}
									{{ stream.name }},
								{% endfor %}
							</p>
							<p><b>Description:</b> {{ unenrolled.desc|linebreaksbr }}</p>
							<p><b>Company Details:</b> {{ unenrolled.company.details|linebreaksbr }} </p>
							<p><b>Website:</b> <a target="_blank" href="{{ unenrolled.company.website }}">{{ unenrolled.company.website }}</a></p>
							{% with unenrolled.company.profile.social as social %}
								<ul>
									<li></li>
								</ul>
							{% endwith %}
							{% include 'recruitment/criteria.html' with criterion=unenrolled.session.selection_criteria %}
						</div>
					</div>
				{% endwith %}
			{% endif %}
		{% endfor %}
	</div>
</div>
