{% extends 'account/base.html' %}
{% load material_form %}
{% block title %} Student | Sign Up {% endblock title %}
{% block content %}
   <style type="text/css">
   	html
   	{
   		background-color: #f2f2f2;
   	}
   	body
   	{
   		overflow-x: hidden;
   	}
   </style>
	<a class="btn waves-effect waves-light blue" href="{% url 'logout' %}" style="position: fixed;top: 10px;right: 10px;z-index: 516516514;">Logout</a>
    <form enctype="multipart/form-data" action="{% url 'create_student' %}" method='POST' id='student-creation-form' >
        {% csrf_token %}
		<div class="row">
			<div class="col s12 m8 offset-m2">
				<h4 class="center" style="color: goldenrod"> Create Profile </h4>
				<div>
	 		     	{% form form=student_creation_form %}{% endform %}
				 </div>
			</div>
		</div>
		<div class="row">
		        <button type="submit" name="createstudent" class="btn waves-effect waves-light col s10 m8 offset-s1 offset-m2">Finish<i class="material-icons right">send</i></button>
		</div>
    </form>
	<br />
{% endblock content %}
