{% extends 'account/base_home_layout.html' %}
{% load staticfiles %}
{% load material_form %}
{% block head %}<link type="text/css" rel="stylesheet" href="{% static 'materialize-blue.css' %}" />
<link type="text/css" rel="stylesheet" href="{% static 'student/home.css' %}" /> 

{% endblock %}
{% block user_photo %}
	{% if student.photo %}
		{{ student.photo.url }}
	{% endif %}
{% endblock %}

{% block user_name_card %}
	{{ student.firstname }}&nbsp;{{ student.lastname }}
{% endblock %}

{% block user_email_id %}
	{{ student.profile.email }}
{% endblock %}

<!--for sidenav-->
{% block user_photo_s %}
	{% if student.photo %}
		{{ student.photo.url }}
	{% endif %}
{% endblock %}

{% block user_name_card_s %}
	{{ student.firstname }}&nbsp;{{ student.lastname }}
{% endblock %}

{% block user_email_id_s %}
	{{ student.profile.email }}
{% endblock %}


 {% block lightbox_data %}
        <div id="light3" class="white_content3">
            <!--Type your form here-->
            <a href = "javascript:void(0)" onclick = "document.getElementById('light3').style.display='none'; document.getElementById('fade3').style.display='none'; "><i class="fa fa-times fa-2x"></i></a>
        </div>
        <div id="fade3" class="black_overlay3"></div>

 {% endblock %}

 {% block lightbox_data2 %}
        <div id="light4" class="white_content4">
        {% if student.resume %}
            <embed src="{{ student.resume.url }}" width="100%" height="1200px"/>
        {% endif %}    
            <a href = "javascript:void(0)" onclick = "document.getElementById('light4').style.display='none'; document.getElementById('fade4').style.display='none'; "><i class="fa fa-times fa-2x"></i></a>
        </div>
        <div id="fade4" class="black_overlay4"></div>

 {% endblock %}

{% block menu_icon_dropdown %}
	<li><a href = "javascript:void(0)" onclick = "document.getElementById('light3').style.display='flex';document.getElementById('fade3').style.display='flex'">Contact College</a></li>
    <li class="divider"></li>
    {% if student.resume %}
    <li><a href = "javascript:void(0)" onclick = "document.getElementById('light4').style.display='flex';document.getElementById('fade4').style.display='flex'">Uploaded resume</a></li>
    <li class="divider"></li>
    {% endif %}
{% endblock %}


{% block user_type %}
	Student
{% endblock %}

{% block user_name %}
	{{ student.firstname }}&nbsp;{{ student.lastname }}	
{% endblock %}

{% block user_photo2 %}
	{% if student.photo %}
		{{ student.photo.url }}
	{% endif %}
{% endblock %}

{% block tabs%}
	{% if edit_profile_form %}
		<li class="tab col s2"><a href="#profile" style="color: #9c27b0 !important">Update Profile*</a></li>
	{% endif %}
	{% if edit_qual_form %}
		<li class="tab col s2"><a href="#qualifications" style="color: #9c27b0 !important">Update Qualifications*</a></li>
	{% endif %}
	<li id="apply" class="tab col s2"><a class="active" href="#companies">Companies Visiting</a></li>
<!--	<li class="tab col s2"><a href="#tab2">Status</a></li> -->
	<li id = "notification" class="tab col s2" url="{% url 'get_notifications' %}"><a href="#notifications">Notification</a></li>
	<li class="tab col s2"><a href="#settings">Settings</a></li>
	<li id="session" class="tab col s2"><a href="#sessions">Sessions</a></li>
{% endblock %}

{% block tabs_content %}
	<div id="companies" class="col s12"></div>
<!--	<div id="tab2" class="col s12">Data 2</div> -->
	<div id="notifications" class="col s12">
		<div class="vertical-tabs">
			<div class="row">
				<div class="col s3">
					<ul class="tabs">
						<li class="tab col s12"><a id = "your-notifications" class="active" href="#your-notifications-div">Your Notifications</a></li>
						<li class="tab col s12"><a id = "help" href="#help-div">Help !</a></li>
					</ul>
				</div>
				<div class=" col s8 offset-s1">
					<div id="your-notifications-div" class="col s12">
		
							<ul id = "your-notifications-div-ul" class="collection">
							</ul>
            
					</div>
					<div id="help-div" class="col s12">
					<h1>Under Construction</h1>
					</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- -->
	{% if edit_qual_form %}
		<div id="qualifications" class="col s12">
			<form method="POST" action="{% url 'student_qual' %}" id="edit-qual-form">
				{% csrf_token %}
				{% form form=edit_qual_form %}{% endform %}
				<button class="btn btn-waves" type="submit">Update Qualifications</button>
			</form>
		</div>
	{% endif %}
	{% if edit_profile_form %}
		<div id="profile" class="col s12">
			<form method="POST" action="{% url 'edit_student_profile' %}" id="edit-student-form" enctype="multipart/form-data">
				{% csrf_token %}
				{% form form=edit_profile_form %}{% endform %}
				<button class="btn btn-waves" type="submit">Update Profile</button>
			</form>
		</div>
	{% endif %}
	<div id="settings" class="col s12">
		<div class="vertical-tabs">
			<div class="row">
				<div class="col s3">
					<ul class="tabs">
						<li class="tab col s12"><a class="active" href="#account-settings">Account Settings</a></li>
						<li class="tab col s12"><a href="#upload-settings">Upload Image/Resume</a></li>
						<li class="tab col s12"><a href="#social-settings">Social Profile Settings</a></li>
						<li class="tab col s12"><a href="#tech-settings">Technical Profile Settings</a></li>
					</ul>
				</div>
				<div class=" col s8 offset-s1">
					<div id="account-settings" class="col s12">
						<form method="POST" action="{% url 'edit_account' %}" id="edit-account-form">
							{% csrf_token %}
							{% form form=edit_account_form %}{% endform %}
							<button class="btn btn-waves" type="submit">Update Account</button>
						</form>
					</div>
					<div id="upload-settings" class="col s12">
						<form method="POST" action="{% url 'upload_file' %}" id="upload-file-form" enctype="multipart/form-data">
							{% csrf_token %}
							{% form form=upload_file_form %}{% endform %}
							<button class="btn btn-waves" type="submit">Upload</button>
						</form>
					</div>
					<div id="social-settings" class="col s12">
						<form method="POST" action="{% url 'social_profile' %}" id="social-profile-form">
							{% csrf_token %}
							{% form form=social_profile_form %}{% endform %}
							<button class="btn btn-waves" type="submit">Update</button>
						</form>
					</div>
					<div id="tech-settings" class="col s12">
						<form method="POST" action="{% url 'tech_profile' %}" id="tech-profile-form">
							{% csrf_token %}
							{% form form=tech_profile_form %}{% endform %}
							<button class="btn btn-waves" type="submit">Update</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="sessions" class="col s12"></div>

	{% if badge %}
		<span class="badge" id="notifications_badge">{{ badge }}</span>
	{% endif %}
{% endblock %}

{% block scripts %}
	<script type="text/javascript" src="{% static 'common/search.js' %}"></script>
	<script type="text/javascript" src="{% static 'common/sessions.js' %}"></script>
	<script type="text/javascript" src="{% static 'common/settings.js' %}"></script>
	<script type="text/javascript" src="{% static 'student/update.js' %}"></script>
	<script type="text/javascript" src="{% static 'notification/create_notification.js' %}"></script>
	<script type="text/javascript" src="{% static 'student/apply.js' %}"></script>
	<script>
		$(document).ready(function() {
			Search.init();
			Session.init();
			Apply.init();
			Notification.init();
			Settings.init(['edit-account-form', 'upload-file-form', 'social-profile-form', 'tech-profile-form']);
			Update.init(['edit-student-form', 'edit-qual-form']);
		});
	</script>
{% endblock scripts %}

