{% extends 'account/base_home_layout.html' %}


{% block user_photo %}
	{% if student.photo %}
		{{ student.photo.url }}
	{% endif %}
{% endblock %}

{% block user_name_card %}
	{{ student.firstname }}&nbsp;{{ student.lastname }}
{% endblock %}

{% block user_email_id %}
	{{ student.profile.email }}
{% endblock %}

{% block menu_icon_dropdown %}
	<li><a href="#">wrgwearg</a></li>
    <li class="divider"></li>
{% endblock %}

{% block user_type %}
	Student
{% endblock %}

{% block user_name %}
	{{ student.firstname }}&nbsp;{{ student.lastname }}	
{% endblock %}

{% block user_photo2 %}
	{% if student.photo %}
		{{ student.photo.url }}
	{% endif %}
{% endblock %}

{% block tabs%}
	<li class="tab col s2"><a class="active" href="#tab1">Companies Visiting</a></li>
	<li class="tab col s2"><a href="#tab2">Status</a></li>
	<li class="tab col s2"><a href="#tab3">Qualifications</a></li>
	<li class="tab col s2"><a href="#tab4">Settings</a></li>
{% endblock %}

{% block tabs_content %}
	<div id="tab1" class="col s12">Data 1</div>
	<div id="tab2" class="col s12">Data 2</div>
	<div id="tab3" class="col s12">Data 3</div>
	<div id="tab4" class="col s12">Data 4</div>
{% endblock %}
