{% load staticfiles %}
<!--
<script src="{% static 'material/js/jquery-2.2.0.js' %}"></script>
<script src="{% static 'material/js/materialize.js' %}"></script>
-->
{% if sessions %}
<ul class="collection">
	{% for session in sessions %}
		<li class="collection-item avatar">
			{% if not session.is_dummy and session.photo %}
				<img src="{{ session.photo.url }}" alt="Recruiter" class="circle" />
			{% endif %}
			<span class="title blue-text text-accent-2"><b>{{ session.company }}</b> for {{ session.type|title }} </span>
			<p>
				<b>Salary: </b>{{ session.salary }}
				<br>
				<p>
					<b>Streams: </b>{{ session.streams }}
				</p>
				<br>
					<b><span class="orange-text text-darken-2">{{ session.students }}</b> student{{ session.students|pluralize }} in the session
			</p>
		</li>
	{% endfor %}
</ul>
{% else %}
	<b><h1 class="center flow-text teal-text text-accent-4">You are currently not enrolled in any sessions.</h1></b>
{% endif %}
