{% load staticfiles %}
{% if sessions %}
<ul class="collection">
	{% for session in sessions %}
			<div class="card col s12 m6">
				<div class="card-image waves-effect waves-block waves-light">
					<img class="activator" height=250 width=250 src="" style="background-color:{% cycle '#e1f5fe' '#e0f2f1' '#fce4ec' '#f3e5f5' %}" />
				</div>
				<div class="card-content">
					<span class="card-title activator grey-text text-darken-4"><b>{{ session.company }}</b> for {{ session.type|title }}
						<i class="fa fa-info-circle right" aria-hidden="true"></i>
					</span>
					<p><b>Salary: </b>{% if session.salary != '0 LPA' %}{{ session.salary }}{% else %}Read Description{% endif %}</p>
					<p><b>Status: </b>{{ sessobj.status }}</p>
					<p><b>Enrollments: </b><b><span class="orange-text text-darken-2">{{ session.students }}</b> student{{ session.students|pluralize }}</p>
				</div>
				<div class="card-reveal">
					<span class="card-title grey-text text-darken-4"><b>{{ session.company }}</b> for {{ session.type|title }}
						<i class="material-icons right">close</i>
					</span>
					<p><b>Programme: </b>{{ session.programme }}</p>
					<p><b>Streams: </b>{{ session.streams }}</p>
					<p><b>Years: </b>{{ session.years }}</p><br>
					{% if not session.is_dummy %}
						{% with session.sessobj.association as association %}
							<p><b>Description:</b> {{ association.desc|linebreaksbr }}</p>
							<p><b>Company Details:</b> {{ association.company.details|linebreaksbr }} </p>
							<p><b>Website:</b> <a target="_blank" href="{{ association.company.website }}">{{ association.company.website }}</a></p>
						{% endwith %}
						{% include 'recruitment/criteria.html' with criterion=session.selection_criteria %}
					{% else %}
							<p><b>Description:</b> {{ session.dsessobj.desc|linebreaksbr }}</p>
							<p><b>Company Details:</b> {{ session.dsessobj.dummy_company.details|linebreaksbr }} </p>
							<p><b>Website:</b> <a target="_blank" href="{{ session.dsessobj.dummy_company.website }}">{{ session.dsessobj.dummy_company.website }}</a></p>
						{% include 'recruitment/criteria.html' with criterion=session.dsessobj.selection_criteria %}
					{% endif %}
				</div>
			</div>
	{% endfor %}
</ul>
{% else %}
	<p style="font-size: 20px" class="col s12 m10 offset-m1 flow-text blue lighten-5 blue-text text-darken-4 center-align">All your placement sessions/drives, Internship or Job, that you apply for, will be displayed here.<br>Being in a session means that you are a part of that placement drive.<br><b>Note: </b>If your participation in a session/drive gets over, you'll no longer see that session.</p>
	<p class="col s12 center flow-text teal-text text-accent-4">You are currently not enrolled in any sessions.</p>
{% endif %}
