<!--
{% extends 'account/home.html' %}
{% block title %} Student Home {% endblock title %}


    <p> <a href="{% url 'edit_account' %}"> Edit Account </a></p>
    <p> <a href="{% url 'edit_student_profile' %}"> Edit Profile </a></p>


{% block leftpanel %}
    <ul id="list">
        <li>
            <div id="image">
                {% if student.display_picture %}
                <img src="{{ student.display_picture.url }}" height="200px" width="200px">
                {% endif %}
            </div>
        </li>
        <li>
            <div class="container">
              {% if user %}
                <h4>{{ user.username }}<h4> 
              {% endif %}
            </div>
        </li>
        {% if student %}
        <li>
            <div class="container">
                <h4><a href="{{ student.college.get_absolute_url }}">{{ student.college }}</a></h4>
            </div>
        </li>
        <li>
            <div class="container">
                <h4>{{ student.stream }}</h4>
            </div>
        </li>
        <li>
            <div class="container">
                <h4>{{ student.subject }}</h4>
            </div>
        </li>
        {% endif %}
        <li>
            <div class="container"><h4>Resume</h4></div>
        </li>
    </ul>

{% endblock leftpanel%}
{% block mainpanel %}
    <ul class="nav nav-tabs">
          <li class="active"><a data-toggle="tab" href="#home">Home</a></li>
          <li><a data-toggle="tab" href="#menu1">Menu 1</a></li>
    </ul>

    <div class="tab-content">
            <div id="home" class="tab-pane fade in active">
                <div class="panel-group">
                    <div class="panel panel-default">
                      <div class="panel-heading">Company1</div>
                      <div class="panel-body">QuickStatusInfo</div>
                    </div>
                    <div class="panel panel-default">
                      <div class="panel-heading">Company2</div>
                      <div class="panel-body">QuickStatusInfo</div>
                    </div>
                </div>
            </div>
            <div id="menu1" class="tab-pane fade">
                    <h3>Menu 2</h3>
                    <p>Ajax Content</p>
            </div>
    </div>
{% endblock mainpanel %}
-->
