{% load staticfiles %}
{% include 'material/includes/material_js.html' %}

<style type="text/css">
	.collapsible-header
	{
		color: #DAA520;
		background-color: #1c262f;
		border-left: solid;
		border-color: white;
		border-right: solid;
		border-color: white;
		border-left-width: 1px;
		border-right-width: 1px;
	}
    
    h5
    {
    	color: #DAA520;
    }

    .collapsible-body
    {
    	border-left: solid;
		border-color: white;
		border-right: solid;
		border-color: white;
		border-left-width: 1px;
		border-right-width: 1px;

    }
    

</style>
<div class="row" id="out-box">
	<div class="col s12 m12 l12">
		<div class="card" id="ss">
			<div class="card-content white-text" id="rr">
				<div id="top-box">
					<img class="responsive-img circle" src="{% if student.photo %}{{ student.photo.url }} {% else %}{% static 'images/ipu-logo.png' %}{% endif %}" height="80px" width="80px" >
					<div id="top-side-box">
						<h5>{{ name }}</h5>
						<h6>{{ college }}</h6>
						<h6>{{ stream }} &nbsp; ({{ year }} year)</h6>
					</div>
				</div>
				<hr>
				<p>Currently in placement session  with {{ sessions }} compan{{ sessions|pluralize:"y,ies" }} <br> {{ companies }}</p>
			</div>
			<hr>
			{% if student.tech %}
			<ul class="collapsible" data-collapsible="accordion">
			        {% if student.tech.codechef %}
					<li>
						<div class="collapsible-header">Codechef</div>
						<div class="collapsible-body" id="codechef">Name :<br>Rank :<br>URL :</div>
					</li>
					{% endif %}
					{% if student.tech.codeforces %}
					<li>
						<div class="collapsible-header">Codeforces</div>
						<div class="collapsible-body" id="codeforces">Name :<br>Rank :<br>URL :</div>
					</li>
					{% endif %}
					{% if student.tech.spoj %}
					<li>
						<div class="collapsible-header">SPOJ</div>
						<div class="collapsible-body" id="spoj">Name :<br>Rank :<br>URL :</div>
					</li>
				   {% endif %}
			</ul>
			
			{% endif %}
			<div id="ff">
				<div class="fixed-action-btn horizontal" id="main-btn">
					<a class="btn-floating btn-large red"><i class="large material-icons">supervisor_account</i></a>
					{% if student.profile.social or student.tech %}
					<ul id="jj">
						{% if student.tech %}
							{% if github %}
							<li><a class="btn-floating" target="_blank" href="{{ github }}"><i class="fa fa-github" id="github-icon" aria-hidden="true"></i></a></li>
							{% endif %}
							{% if bitbucket %}
							<li><a class="btn-floating" target="_blank" href="{{ bitbucket }}"><i class="fa fa-bitbucket" id="bitbucket-icon" aria-hidden="true"></i></a></li>
							{% endif %}
						{% endif %}
						{% if student.profile.social %}
							{% if linkedin %}
							<li><a class="btn-floating" target="_blank" href="{{ linkedin }}"><i class="fa fa-linkedin-square" id="linkedin-icon" aria-hidden="true"></i></a></li>
							{% endif %}
							{% if facebook %}
							<li><a class="btn-floating" target="_blank" href="{{ facebook }}"><i class="fa fa-facebook-official" id="fb-icon" aria-hidden="true"></i></a></li>
							{% endif %}
							<!--
							{% if google %}
							<li><a class="btn-floating" target="_blank" href="{{ google }}"><i class="fa fa-google-plus" id="googleplus-icon" aria-hidden="true"></i></a></li>
							{% endif %}
							-->

						{% endif %}
					</ul>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
</div>
