{% load staticfiles %}
{% load material_form %}
<!--
<script src="{% static 'material/js/jquery-2.2.0.js' %}"></script>
{% include 'material/includes/material_js.html' %}
-->
{% if success_msg %}<div class="card green accent-1 center success"><p>{{ success_msg }}</p></div>{% endif %}
<form action="{% url 'tech_profile' %}" method='POST' id="tech-profile-form">
	{% csrf_token %}
	{% form form=tech_profile_form %}{% endform %}
	<div class="row">
		<div class="col s6 offset-s2">
			<button class="btn btn-waves" type="submit">Update</button>
		</div>
	</div>
</form>
