{% extends 'account/base.html' %}
{% load staticfiles %}
{% block head %}
	<link rel="stylesheet" type="text/css" href="{% static 'sweetalert/dist/sweetalert.css' %}">
<style>

	.navbar-fixed {
		background-color: #1c262f;
	}

	nav .brand-logo { 
	font-family: "Times New Roman"; /* New */
	text-transform: capitalize; /* New */
    font-size: 1.6rem;
    margin-left: 20px;
	}

	#logo
	{
	  display: flex;
	  justify-content: center;
	  align-items: center;
	}

	nav .button-collapse {
	    margin: 0 10px;
	    margin-left: 5px;
	}

	#inner-logo
	{
	  display: flex;
	  justify-content: center;
	  align-items: flex-start;
	  flex-direction: column;
	}


	#inner-logo h4
	{
	  font-size:21px;
	  margin-bottom: 1px;
	  font-family: "Times New Roman";
	  text-transform: capitalize;
	}

	#inner-logo h6
	{
	  
	  font-size: 14px;
	  margin-top: 1px;
	  font-family: "Times New Roman";
	  text-transform: capitalize;
	}

	#img-corner
	{
	    height: 30px;
	    width: 30px;
	    margin-bottom: -9px;
	    
	}
	@media screen and (min-width: 992px){
	#corner-button
		{
			position: fixed;
			top: 14px;
			right: 10px;
			z-index: 4159465419454;
		}
	}
    @media screen and (min-width: 300px) and (max-width: 992px){
		 	
	#corner-button
		{
			position: fixed;
			bottom: 10px;
			right: 10px;
			z-index: 4159465419454;
		}
	}
</style>

{% endblock %}
{% block header %}
	<div class="navbar-fixed">
            <nav id="nav-bar">
                <div class="nav-wrapper">
                    <a href="{{ request.user.get_home_url }}" class="brand-logo" id="brand-corner">
                    <div class="left hide-on-med-and-down" style="margin-left: 1.5%;">
                      <div id="logo">
                        <img src="{% static 'images/ipu-logo.png' %}" style="height: 55px">
                        <div id="inner-logo">
                        <h4>Training & Placement cell</h4>
                        <h6>Guru Gobind Singh Indraprastha University</h6> 
                        </div>
                      </div>
                    </div>
                    </a>
                    <a id="center_logo" href="{{ request.user.get_home_url }}" class="brand-logo center hide-on-large-only">Training & Placement Cell</a>
                    <h6 class="center hide-on-large-only" style="font-size: 10px;padding: 0px;margin: 1px;margin-top: 1px;position: absolute;top: 40px;left: 15%;width: 70%;right: 15%">Guru Gobind Singh Indraprastha University</h6>
            
            </div>
        </nav>
      </div> 
{% endblock %}
{% block title %} Unverified Student {% endblock %}
{% block content %}
<a href="{% url 'logout' %}" class="waves-effect waves-light btn right" id="logout-button"> Logout </a>
	<div class="row">
		<div class="col s12 m10 offset-m1">
			<h3 class="teal lighten-5 teal-text text-darken-3 center">You're almost there!</h3>
			<p class="teal-text flow-text center">Now, all you need to do is get your profile and qualifications verified by your college's faculty.</p>
			<div class="divider row"></div>
			<div id="qualifications-text" class="center-align">
				<p class="red-text text-lighten-3 flow-text"><b>Tenth: </b>{{ tenth }}%</p>
				<p class="red-text text-lighten-3 flow-text"><b>Twelfth: </b>{{ twelfth }}%</p>
				<p class="red-text text-lighten-3 flow-text"><b>Graduation: </b>{{ graduation }}%</p>
			</div>
			<div class="divider row"></div>
			<div class="grey lighten-5 blue-text text-darken-3">
				<p class="flow-text"><b>Note:</b> Only the first 5 subjects are considered while calculating percentages.<br>(Optional subject is not considered)</p>
				<p class="flow-text">Incase of any discrepancies regarding your account or details you've entered, ask your faculty to take necessary actions.</p>
			</div>
		</div>
	</div>
{% endblock %}
{% block scripts %}
	<script type="text/javascript" src="{% static 'student/update.js' %}"></script>
	<script>
		$(document).ready(function(){
			Update.init(['qual-form']);
		});
	</script>
{% endblock %}
