{% extends 'account/base.html' %}
{% load staticfiles %}
{% block header %}
	<a href="{% url 'logout' %}" class="waves-effect waves-light btn right" id="logout-button"> Logout </a>
{% endblock %}
{% block title %} Unverified Student {% endblock %}
{% block content %}
	<div class="row">
		<div class="col s12 m10 offset-m1">
			<p class="teal-text flow-text">You're almost there!</p>
			<p class="teal-text flow-text">All you need to do is get your profile and qualifications verified by your college's faculty.</p>
			<p class="red-text text-lighten-3 flow-text"><b>Tenth: </b>{{ tenth }}%</p>
			<p class="red-text text-lighten-3 flow-text"><b>Twelfth: </b>{{ twelfth }}%</p>
			<h6 class="flow-text">Note: Only the main 5 subjects are considered while calculating percentages.</h6>
			<p class="blue-text flow-text">Incase of any discrepancies regarding your account or details you've entered, ask your faculty to take necessary actions.</p>
		</div>
	</div>
{% endblock %}
{% block scripts %}
	<script type="text/javascript" src="{% static 'student/update.js' %}"></script>
	<script>
		$(document).ready(function(){
			Update.init(['qual-form']);
		});
	</script>
{% endblock %}
