{% load staticfiles %}
{% load material_form %}
<div class="col s12 m10 offset-m1 teal lighten-5" style="border: 1px solid #1c262f">
	<h5 class="flow-text center-align teal-text text-darken-4"><b>Connecting with {{ other_party }}</b></h5>
	{% if request.user.type != 'CO' %}
		<h6><b>LLPIN/CIN/Form 1 Ref. No.:</b> {{ association.company.corporate_code }}</h6>
	{% endif %}
	<div class="col s12 right-align">
		<a href="{% url 'decline' %}?ass={{ hashid }}" class="blue lighten-4 btn-flat change-decision">Change Decision</a>
	</div>
	<ul class="right-align col s12 blue-text text-darken-4">
		<li><b>Programme:</b> {{ association.programme }}</li>
		<li><b>Streams:</b> {{ streams }}</li>
		<li><b>Salary:</b> {{ association.salary }} LPA</li>
	</ul>
	<form method='POST' action="{% url 'createsession' %}" id="create-session-form" class="col s12">
		{% csrf_token %}
		{% form form=session_creation_form %}{% endform %}
		<div class="row">
			<button class="btn btn-waves col s10 offset-s1 m8 offset-m2" type="submit">Create Session</button>
		</div>
	</form>
</div>
