{% extends 'account/navbar.html' %}
{% load staticfiles %}
{% load material_form %}
{% block title %}Edit Session{% endblock %}
{% block content %}
<!--<script type="text/javascript" src="{% static 'material/js/materialize.js' %}"></script> -->
	<h4 class="center" style="color: goldenrod;">Edit Session</h4>
	<div class="col s12" id="edit-session-div">
		<form action="{% url 'edit_session' sessid %}" method='POST' class="col s8 offset-s2" id="edit-session-form">
			{% csrf_token %}
			{% form form=session_edit_form %}{% endform %}
			<div class="row">
				<button class="btn btn-waves-light col s8 offset-s2" style="width: 80%">Update Session</button>
			</div>
		</form>
	</div>
{% endblock %}
{% block scripts %}
	<script type="text/javascript" src="{% static 'common/settings.js' %}"></script>
	<script>
		$(document).ready(function() {
			Settings.init(['edit-session-form']);
		});
	</script>
{% endblock %}
