{% extends 'account/navbar_with_tabs.html' %}
{% load staticfiles %}
{% load material_form %}
{% block title %}Manage Placement Session{% endblock %}
{% block pagetitle %}Manage Placement Session{% endblock %}


{% block user_photo2 %}
	{% if request.user.type == 'C' %}
		{% if association.college.photo %}
			<img src="{{ association.college.photo.url }}" class="circle" height="30" width="30" id="img-corner">
		{% else %}
			<img src="{% static 'images/college.png' %}" class="circle" height="30" width="30" id="img-corner">
		{% endif %}
	{% elif request.user.type == 'F' %}
		{% if request.user.faculty.photo %}
			<img src="{{ request.user.faculty.photo.url }}" class="circle" height="30" width="30" id="img-corner">
		{% else %}
			<img src="{% static 'images/college.png' %}" class="circle" height="30" width="30" id="img-corner">
		{% endif %}
	{% else %}
		{% if association.company.photo %}
			<img src="{{ association.company.photo.url }}" class="circle" height="30" width="30" id="img-corner">
		{% else %}
			<img src="{% static 'images/company.png' %}" class="circle" height="30" width="30" id="img-corner">
		{% endif %}
	{% endif %}
{% endblock %}

{% block user_name_card_s %}
	{{ user.get_short_name }}
{% endblock %}

{% block user_email_id_s %}
	{{ user.profile.email }}
{% endblock %}

{% block user_photo_s %}
	{% if request.user.type == 'C' %}
		{% if association.college.photo %}
			<img src="{{ association.college.photo.url }}" class="circle" height="90" width="90">
		{% else %}
			<img src="{% static 'images/college.png' %}" class="circle" height="90" width="90">
		{% endif %}
	{% elif request.user.type == 'F' %}
		{% if request.user.faculty.photo %}
			<img src="{{ request.user.faculty.photo.url }}" class="circle" height="90" width="90">
		{% else %}
			<img src="{% static 'images/college.png' %}" class="circle" height="90" width="90">
		{% endif %}
	{% else %}
		{% if association.company.photo %}
			<img src="{{ association.company.photo.url }}" class="circle" height="90" width="90">
		{% else %}
			<img src="{% static 'images/company.png' %}" class="circle" height="90" width="90">
		{% endif %}
	{% endif %}
{% endblock %}

{% block user_photo %}
	{% if request.user.type == 'C' %}
		{% if association.college.photo %}
			<img src="{{ association.college.photo.url }}" class="circle" height="64" width="64">
		{% else %}
			<img src="{% static 'images/college.png' %}" class="circle" height="64" width="64">
		{% endif %}
	{% elif request.user.type == 'F' %}
		{% if request.user.faculty.photo %}
			<img src="{{ request.user.faculty.photo.url }}" class="circle" height="64" width="64">
		{% else %}
			<img src="{% static 'images/college.png' %}" class="circle" height="64" width="64">
		{% endif %}
	{% else %}
		{% if association.company.photo %}
			<img src="{{ association.company.photo.url }}" class="circle" height="64" width="64">
		{% else %}
			<img src="{% static 'images/company.png' %}" class="circle" height="64" width="64">
		{% endif %}
	{% endif %}
{% endblock %}

{% block user_name_card %}
	{{ user.get_short_name }}
{% endblock %}

{% block user_email_id %}
	{{ user.profile.email }}
{% endblock %}


{% block menu_icon_dropdown %}
	{% if user.type == 'C' %}
                <li><a href="{% url 'manage_faculty' %}" >Manage Faculty</a></li>
                <li class="divider"></li>
                <li><a href="{% url 'manage_dcompany' %}" >Manage Dummy Company</a></li>
                <li class="divider"></li>
                <li><a href="{% url 'manage_dissociation' %}" >Block/Unblock Companies</a></li>
	{% elif user.type == 'F' %}
    	{% if perms.recruitment.handle_placement %}
			<li><a href="{% url 'manage_dcompany' %}" >Manage Dummy Company</a></li>
    		<li class="divider"></li>
		{% endif %}
	{% else %}
         	<li><a href="{% url 'manage_dissociation' %}" >Block/Unblock Colleges</a></li>
            <li class="divider"></li>
	{% endif %}
{% endblock %}
{% block head %}
	<link rel="stylesheet" type="text/css" href="{% static 'sweetalert/dist/sweetalert.css' %}">
{% endblock head %}


{% block side_nav_links %}
    <li data-main_div="#session-details"><a class="waves-effect" href="#!" style="">Session Details</a></li>
    <li data-main_div="#session-students"><a class="waves-effect" href="#!" style="">Manage Session Students</a></li>
    <li data-main_div="#edit-criteria"><a class="waves-effect" href="#!" style="">Edit Selection Criteria</a></li>
    <li data-main_div="#edit-session"><a class="waves-effect" href="#!" style="">Edit Session Details</a></li>
	<li><div class="divider"></div></li>
	{% if user.type == 'C' %}
		<li><a href="{% url 'manage_faculty' %}" >Manage Faculty</a></li>
		<li><a href="{% url 'manage_dcompany' %}" >Manage Dummy Company</a></li>
		<li><a href="{% url 'manage_dissociation' %}" >Block/Unblock Companies</a></li>
	{% elif user.type == 'F' %}
    	{% if perms.recruitment.handle_placement %}
			<li><a href="{% url 'manage_dcompany' %}" >Manage Dummy Company</a></li>
			<li><div class="divider"></div></li>
		{% endif %}
	{% else %}
         	<li><a href="{% url 'manage_dissociation' %}" >Block/Unblock Colleges</a></li>
			<li><div class="divider"></div></li>
	{% endif %}
	<li><div class="divider"></div></li>

{% endblock %}



{% block tabs %}
	<li class="tab col s2"><a class="active" href="#session-details">Details</a></li>
	<li class="tab col s3"><a class="" href="#session-students">Manage Session Students</a></li>
	<li class="tab col s3"><a class="" href="#edit-criteria">Edit Selection Criteria</a></li>
	<li id="dsessions" class="tab col s3"><a class="" href="#edit-session">Edit Session Details</a></li>
{% endblock tabs %}
{% block tabs_content %}
<!--                    -->
<div id="session-details" class="col s12">
	<h4 class="center light-blue-text text-darken-4">{% if association.type == 'J' %}Job{% else %}Internship{% endif %} Session</h4>
	<div class="col s12 m6">
		<div class="card">
			<div class="card-image waves-effect waves-block waves-light">
				<img class="activator" height=250 width=250 src="" style="background-color:#e1f5fe" />
			</div>
				{% if user.type == 'C' %}
					<div class="card-content">
						<span class="card-title activator grey-text text-darken-4">{{ association.company }}<i class="fa fa-ellipsis-v right"></i></span>
						<p><a href="{{ association.company.get_absolute_url }}">Company Profile</a></p>
					</div>
					<div class="card-action">
						<a href="{% url 'excel' sess_hashid %}" class="excel">Download Excel  <i class="fa fa-file-excel-o fa-2x"></i></a>
						<a href="{% url 'dl_resume' sess_hashid %}" class="resume">Download Resumes  <i class="fa fa-file-archive-o fa-2x"></i></a>
					</div>
					<div class="card-reveal">
						<span class="card-title grey-text text-darken-4">{{ association.company }}<i class="fa fa-times right"></i></span>
						<p><b>Salary:</b> {{ association.salary }} Lakhs per annum</p>
						<p><b>Status:</b> {{ session.status }} </p>
						<p><b>Details:</b> {{ association.desc }} </p>
						<p><b>Has The Session Ended? </b> {{ session.ended | yesno:"Yes,No"}} </p>
						{% include 'recruitment/criteria.html' with criterion=session.selection_criteria %}
					</div>
				{% else %}
					<div class="card-content">
						<span class="card-title activator grey-text text-darken-4">{{ association.college }}<i class="fa fa-ellipsis-v right"></i></span>
						<p><a href="{{ association.college.get_absolute_url }}">College Profile</a></p>
					</div>
					<div class="card-action">
						<a href="{% url 'excel' sess_hashid %}" class="excel">Download Excel  <i class="fa fa-file-excel-o fa-2x"></i></a>
						<a href="{% url 'dl_resume' sess_hashid %}" class="resume">Download Resumes  <i class="fa fa-file-archive-o fa-2x"></i></a>
					</div>
					<div class="card-reveal">
						<span class="card-title grey-text text-darken-4">{{ association.college }}<i class="fa fa-times right"></i></span>
						<p><b>Salary:</b> {{ association.salary }} Lakhs per annum</p>
						<p><b>Status:</b> {{ session.status }} </p>
						<p><b>Details:</b> {{ association.desc }} </p>
						<p><b>Has The Session Ended? </b> {{ session.ended | yesno:"Yes,No"}} </p>
						{% include 'recruitment/criteria.html' with criterion=session.selection_criteria %}
					</div>
				{% endif %}
		</div>
	</div>
	<div class="col s12 m6">
		<div class="col s12">
			<div class="card teal lighten-5">
				<div class="card-content teal-text">
					<span class="card-title"><b>{{ association.programme }}</b></span>
					<p>{% for stream in association.streams.all %} {{ stream.name | title }},{% endfor %}</p>
				</div>
            </div>
		</div>
		<div class="col s12">
			<div class="card deep-purple lighten-5">
				<div class="card-content deep-purple-text">
					<span class="card-title"><b>Enrollments</b></span>
					{% with session.students.count as count %}
						<p><b>{{ count }}</b> student{{ count | pluralize }} {{count|pluralize:"is,are"}} currently enrolled.</p>
					{% endwith %}
				</div>
            </div>
		</div>
		<div class="col s12">
			<div class="card pink lighten-5">
				<div class="card-content pink-text">
					<span class="card-title"><b>Application Deadline</b></span>
					{% with session.application_deadline as deadline %}
						<p>{{ deadline|date:"d F Y, l" }}{% if deadline >= deadline.today %}&emsp;({{ deadline|timeuntil }} left){% endif %}</p>
					{% endwith %}
				</div>
            </div>
		</div>
	</div>
</div>
<!--                                     -->
<div id="session-students" class="col s12 m10 offset-m1">
	<div class="col s12">
		<h4 class="center" style="color: goldenrod;">Alter Students' List</h4>
		<form action="{% url 'manage_session_students' sess_hashid=sess_hashid %}" method='POST' class="col s12 m8 offset-m2" id="manage-session-students-form">
			{% csrf_token %}
			{% form form=manage_session_students_form %}{% endform %}
			<div class="row">
				<button class="btn btn-waves-light col s8 offset-s2">Save Changes</button>
			</div>
		</form>
	</div>
</div>
<!--                                     -->
	<div id="edit-criteria" class="col s12">
		<div class="col s12">
			<h4 class="center" style="color: goldenrod;">Edit Selection Criteria</h4>
			<form action="{% url 'edit_criteria' sess_hashid=sess_hashid %}" method='POST' class="col s12 m8 offset-m2" id="edit-criteria-form">
				{% csrf_token %}
				{% form form=edit_criteria_form %}{% endform %}
				<div class="row">
					<button class="btn btn-waves-light col s8 offset-s2">Save Changes</button>
				</div>
			</form>
		</div>
	</div>
<!--                                     -->
	<div id="edit-session" class="col s12">
		<div class="col s12">
			<h4 class="center" style="color: goldenrod;">Edit Session Details</h4>
			<form action="{% url 'edit_session' sess_hashid=sess_hashid %}" method='POST' class="col s12 m8 offset-m2" id="edit-session-form">
				{% csrf_token %}
				{% form form=edit_session_form %}{% endform %}
				<div class="row">
					<button class="btn btn-waves-light col s8 offset-s2">Save Changes</button>
				</div>
			</form>
		</div>
	</div>
<!--                                     -->
{% endblock tabs_content %}
{% block scripts %}

	<script type="text/javascript" src="{% static 'common/search.js' %}"></script>
	<script type="text/javascript" src="{% static 'recruitment/manage.js' %}"></script>
	<script type="text/javascript" src="{% static 'common/mobile.js' %}"></script>
	<script type="text/javascript" src="{% static 'download/download.js' %}"></script>
	<script src="{% static 'sweetalert/dist/sweetalert.min.js' %}"></script>
	<script>
		$(document).ready(function() {
			Search.init();
			ManageSession.init(['manage-session-students-form', 'edit-criteria-form', 'edit-session-form']);
			Download.request();
			Mobile.init();
		});
	</script>
{% endblock scripts %}

