nav .brand-logo { 
	font-family: "Times New Roman"; /* New */
	text-transform: capitalize; /* New */
  font-size: 1.6rem;
  margin-left: 20px;
}

#logo
{
  display: flex;
  justify-content: center;
  align-items: center;
}

#inner-logo
{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}


#inner-logo h4
{
  font-size:21px;
  margin-bottom: 1px;
  font-family: "Times New Roman";
  text-transform: capitalize;
}

#inner-logo h6
{
  
  font-size: 14px;
  margin-top: 1px;
  font-family: "Times New Roman";
  text-transform: capitalize;
}

#img-corner
{
    height: 30px;
    width: 30px;
    margin-bottom: -9px;
    
}

#notifications_badge
{
  position: fixed;
  right: 98px;
  top: 7px;
  z-index: 999;
  background-color: #02b3e4;
  color: white;
  border-radius: 3px;
/*  height: 20px; */
}


#dropdown1
{
    max-width: 250px;
    margin-top: 10px;
}

#dropdown2
{
    width: 250px;
    margin-top: 10px;
}

#dropdown3
{
    width: 450px;
    margin-top: 10px;
    max-height: 400px;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;

}


#dropdown1 li i
{
    margin-right: 5px;
}


#img-box
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}


span.badge {
    min-width: .71rem;
    cursor: default;
}

.collapsible-header
{
    max-width:450px;
    white-space: normal;
    line-height: 20px;
    font-size: 15px;
    padding-top: 3px;

}

#from
{
  white-space: nowrap;
}

#noti-head
{   
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 20px;
    font-family: bold;
    background: #2e3d49;
}

#noti-foot
{   
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 15px;
    font-family: bold;
    background: #2e3d49;
}



nav ul a {
    padding: 0 10px;
}

.black_overlay{
      display: none;
      position: absolute;
      top: 0%;
      left: 0%;
      width: 100%;
      height: 100%;
      background-color: white;
      z-index:1001;
      -moz-opacity: 0.0;
      opacity: .0;
      filter: alpha(opacity=0);
    }
    .white_content {
      display: none;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 0%;
      left: 0%;
      width: 100%;
      height: 100%;
      padding: 16px;
      background-color: #0d0d0d;
      z-index:1002;
      overflow: auto;
      color: white;
      -moz-opacity: 0.92;
      opacity: .92;
      filter: alpha(opacity=9.2);
    }
    
    
    .white_content i
    {
        position: absolute;
        right: 10px;
        top: 10px;
        color:  #999999;
    }

    #box-search
    {

      display: flex;
      padding: 10px;
      height: 70%;
      width: 90%;
      align-items: flex-start;


    }

    #box-search #search-line
    {

      width: 90%;
      color: #999999;
      font-weight: bold;
      position: absolute;

    }

    #box-search #search-line input[type="text"], input[type="search"]{
    background-color: transparent;
    border: none;
    border-bottom: 1px dotted #9e9e9e;
    border-radius: 0;
    outline: none;
    height: 3rem;
    width: 100%;
    font-size: 2rem;
    margin: 0 0 15px 0;
    padding: 0;
    box-shadow: none;
    box-sizing: content-box;
    transition: all 0.3s;
    font-family: 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}


#search-line input:focus + #results { display: block }

#search-line #results {
    display: none;
    position: absolute;
    top: 55px;
    z-index: 10;
    padding: 2px;
    margin: 5px;
    font-size: 22px;
  }

#search-line #results>li 
  { 
    margin-top: 5px;
  }

#search-line #results>li:first-child { margin-top: -1px }


#search-line #results li>a {
    display: block;
    position: relative;
    margin: 0 -1px;
    padding: 6px 40px 6px 10px;
    font-weight: 500;
    border: 1px solid transparent;
    border-radius: 10px;
}


#search-line #results>a span { font-weight: 200 }

#search-line #results>li>a:before {
    content: '';
    width: 18px;
    height: 18px;
    position: absolute;
    top: 50%;
    right: 10px;
    margin-top: -9px;
}

#search-line #results>li>a:hover {
    text-decoration: none;
    color: #fff;
    background-color: rgba(51, 122, 183, 0.15); /* New */
    -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.2), 0 1px rgba(0, 0, 0, 0.08);
    -moz-box-shadow: inset 0 1px rgba(255, 255, 255, 0.2), 0 1px rgba(0, 0, 0, 0.08);
    -ms-box-shadow: inset 0 1px rgba(255, 255, 255, 0.2), 0 1px rgba(0, 0, 0, 0.08);
    -o-box-shadow: inset 0 1px rgba(255, 255, 255, 0.2), 0 1px rgba(0, 0, 0, 0.08);
    box-shadow: inset 0 1px rgba(255, 255, 255, 0.2), 0 1px rgba(0, 0, 0, 0.08);
    display: flex;
    justify-content: center;
    align-items: center;
}

:-moz-placeholder {
    color: #a7aabc;
    font-weight: 200;
}

::-webkit-input-placeholder {
    color: #a7aabc;
    font-weight: 200;
}


#results ul
{
  margin-top: 10px;
}

#results li
{
   line-height: 26px;
   width: 100%;

}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 450px;
    height: 450px;
    border-radius: 3px;
    text-align: center;
    padding: 5px 0;
    margin-left: 10px;
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    right: 5px;
    top: -10px;

}

.tooltiptext
{
  position: absolute;
  top: 0px;
  left: 96%;
}



.tooltip:hover .tooltiptext {
    visibility: visible;
}

.card::after {
    content: " ";
    position: absolute;
    top: 2%;
    right: 100%; /* To the left of the tooltip */
    margin-top: -5px;
    border-width: 7px;
    border-style: solid;
    border-color: transparent #546e7a transparent transparent;
}

#rr
{
    padding: 0px;
    padding-bottom: 10px;

}

.card
{
  padding: 10px;
}

.card .card-action {
    
    border-top: none;
}



hr {
   display: block;
   position: relative;
   padding: 0;
   margin: 0;
   height: 0;
   width: 100%;
   max-height: 0;
   font-size: 1px;
   line-height: 0;
   clear: both;
   border: none;
   border-top: 1px solid #aaaaaa;
   border-bottom: 1px solid #ffffff;
}

.card hr {
   display: block;
   position: relative;
   padding: 0;
   margin: 8px auto;
   height: 0;
   width: 100%;
   max-height: 0;
   font-size: 1px;
   line-height: 0;
   clear: both;
   border: none;
   border-top: 1px solid #aaaaaa;
   border-bottom: 1px solid #ffffff;
}

#ff
{
  display: flex;
  width: 100%;
  justify-content: center;
  height: 69px;
  padding: 10px;

}

#search-line #results #ff li>a {
    display: flex;
    color: #fff;
    position: relative;
    overflow: hidden;
    z-index: 1;
    width: 60px;
    height: 60px;
    line-height: 20px;
    padding: 20px;
    background-color: #26a69a;
    border-radius: 50%;
    transition: .3s;
    cursor: pointer;
    vertical-align: middle;
    align-items: center;
    justify-content: center;
    opacity: 0;
    margin-top: -2px;
    margin-left: 15px;
    margin-right: 15px;
    border: none;


}


#fb-icon
{
  background-color: #3B5998;
}

#linkedin-icon
{
  background-color: #007bb6;
}
#github-icon
{
  background-color: #000000;
  color: white;
}
#googleplus-icon
{
  background-color: #dd4b39;
  color: white;
}


#ff #main-btn
{
  position: absolute;
  bottom: 13px;
  right: 7px;
  margin-top: 20px;
}

#jj
{
  text-align: center;
  position: absolute;
  right: -40px;
  top: 0px;
  margin-top: 5px;
}

#jj li
{
  width: auto;
}

#top-box
{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px;
}

#top-side-box
{
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

#top-side-box h6
{
  font-size: 19px;
}

#top-side-box h6
{
  font-size: 15px;
}

#tech 
{
   color: black;
   margin-bottom: 15px;
}

#connect-button
{
  position: absolute;
  bottom: 10px;
  right: 10px;
}

/* New */

#nav-bar a:hover {
	color: lightsteelblue;
	font-weight: normal;
}

#tab-bar ul.tabs {
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.12);
}

#tab-bar .tab a:hover {
	font-weight: bolder;
	background-color: rgba(51, 122, 183, 0.26);
	transition: background-color ease-in 0.25s;
}

form#search input {
	color: #337ab7 !important;
}

#results a {
	color: #999999 !important;
}


#results a:hover {
	color: coral !important;
	font-weight: bolder;
}

#ss {
    background-color: #7d97ad;
/*    background-color: #2e3d49; */
}

.tab-content{
	margin-top: 20px;
}

.vertical-tabs .tabs{
	display: flex;
	flex-direction: column;
	height: 50%;
	box-shadow: none !important;
}

.vertical-tabs .indicator{
	display: none;
}

.vertical-tabs .tabs .active {
	color: #1c262f !important;
	background-color: lightcoral !important;
	border-radius: 8px;
}

.vertical-tabs ul.tabs li.tab a:hover {
	color: white !important;
	background-color: #00bcba !important;
	border-radius: 8px;
}

#tabs-data-div > div {
	margin-top: 5%;
}

.side-nav i
{
  margin-right: 0px !important;

}

.side-nav a {
    font-size: 14px;
    font-weight: 500;
    height: 48px;
    line-height: 48px;
    padding: 0 32px;
}

#center_logo
{
  font-size: 20px !important;
  margin: 0px !important;
  margin-left: 5px !important;
}

form h5 {
	/* Form Fieldset Bottom Border */
	border-bottom: 3px solid;
	margin: 3% 0;
}

/* */

  @media screen and (min-width: 300px){

    
    #dropdown1
{
    width: 100%;
    margin-top: 10px;
    margin-left: 10px;
    padding: 10px;
}

#dropdown2
{
    
    margin-top: 10px;
    margin-left: 10px;
    padding: 10px;
}

#dropdown3
{
    width: 70%;
    margin-top: 10px;
    margin-left: 10px;
    padding: 10px;

}
}
