{% extends 'account/nav-landing.html' %}
{% block title %} Acitvation Complete {% endblock %}
{% block content %} 
<style type="text/css">
	 @media (min-width:300px) and (max-width:992px){
	 	.row
	 	{
	 		padding-top: 30px;
	 	}
	 	p
	 	{
	 		font-size: 13px!important;
	 	}
	 }
</style>
	<div class="row">
	    <h4 class="center flow-text teal-text text-accent-4"> Your email address has been verified successfully!</h4>
	    <h4 class="center flow-text blue-text">You are now required to login and create your profile.</h4>
		<div class="col s5 offset-s3">
			<a class="btn btn-waves-light col s5 offset-s3" style="width: 80%" href="{% url 'auth' %}">Login &nbsp;<i class="fa fa-sign-in fa-2x"></i></a>
		</div>
	</div>
{% endblock %}
