{% autoescape off %}
Hi <b>{{ username }}</b>!

To activate your GGSIPU Training &amp; Placement Cell Account,
click the link below:

{{ protocol }}://{{ domain }}{% url 'activate' user_hashid=user_hashid token=token %}


If clicking the link above doesn't work, please copy and paste the URL in a new browser
window instead.

Note: The activation link will be valid only for <b>{{ days }}</b> day{{ days|pluralize }}.

Sincerely,

Development &amp; Maintenance Team
Training &amp; Placement Cell,
Guru Gobind Singh Indraprastha University
{% endautoescape %}
