{% extends 'account/nav-landing.html' %}
{% block title %} Acitvation Failed {% endblock %}
{% block content %}
	<div class="row">
		<div class="col s12 m10 offset-m1">
			<h4 class="center red-text text-darken-3">Invalid Activation Link</h4>
			<p class="center flow-text blue lighten-5 blue-text text-darken-3">If you are viewing this page after clicking the activation link sent to your registered email address, then chances are that the activation link has <b>expired.</b></p>
			<div class="center-align flow-text teal lighten-5">
				<p><a href="{% url 'auth' %}">Login</a> to resend activation link.</p>
				<p><a href={% url 'landing' %}>Go back to site</a> </p>
			</div>
		</div>
	</div>
{% endblock %}
