{% extends 'account/base.html' %}
{% load staticfiles %}
{% load material_form %}

{% block title %}Training And Placement Cell{% endblock %}

{% block head %}
	<link type="text/css" rel="stylesheet" href="{% static 'account/auth.css' %}" />
	<link type="text/css" rel="stylesheet" href="{% static 'common/css/font-awesome/css/font-awesome.min.css' %}" />
<!--	<link type="text/css" rel="stylesheet" href="{% static 'materialize-blue.css' %}" /> -->
<link rel="stylesheet" type="text/css" href="{% static 'sweetalert/dist/sweetalert.css' %}">
{% endblock %}

{% block content %}

<a id="back" href="/"><i class="fa fa-arrow-left fa-2x hide-on-small-only hide-on-med-only" aria-hidden="true"></i></a>
<a id="back" href="/"><i class="fa fa-arrow-left fa-4x hide-on-large-only" aria-hidden="true"></i></a>

<div class="black_overlay" id="fade"></div>

<div id="corner-buttons" class="hide-on-small-only">

      <a href = "javascript:void(0)" class="waves-effect waves-light btn sb" onclick = "document.getElementById('student-sign-up').style.display='flex';document.getElementById('fade').style.display='flex'">sign up as student</a>
      <a href = "javascript:void(0)" class="waves-effect waves-light btn sb" onclick = "document.getElementById('recruiter-sign-up').style.display='flex';document.getElementById('fade').style.display='flex'">sign up as recruiter</a>
</div>

<div id="corner-buttons-small" class="hide-on-large-only hide-on-med-only">
      <a href = "javascript:void(0)" class="waves-effect waves-light btn sb" onclick = "document.getElementById('student-sign-up').style.display='flex';document.getElementById('fade').style.display='flex'">sign up as student</a>
      <a href = "javascript:void(0)" class="waves-effect waves-light btn sb" onclick = "document.getElementById('recruiter-sign-up').style.display='flex';document.getElementById('fade').style.display='flex'">sign up as recruiter</a>
</div>

<div id="student-sign-up" class="white_content"> 
       <a class="hide-on-med-only hide-on-small-only" href = "javascript:void(0)" onclick = "document.getElementById('student-sign-up').style.display='none';document.getElementById('fade').style.display='none'"><i class="fa fa-times fa-2x" id="cross"></i>
       </a>
       <a class="hide-on-large-only" href = "javascript:void(0)" onclick = "document.getElementById('student-sign-up').style.display='none';document.getElementById('fade').style.display='none'"><i class="fa fa-times fa-4x" id="cross"></i>
       </a>
  <div id="student-signup-mainbox">
			<div class="col s12" id="student-signup-box">
				<div class="card-panel">
					<h4 class="center-align"> Student Signup </h4>
					<div id="student-signup-div">
						<form method="POST" action="{% url 'student_signup' %}" id="student-signup-form" class="col s12">
							{% csrf_token %}
							{% form form=student_signup_form %}
              {% part form.username prefix %}<i class="material-icons prefix">account_box</i>{% endpart %}
              {% part form.email prefix %}<i class="material-icons prefix">email</i>{% endpart %}
              {% part form.password1 prefix %}<i class="material-icons prefix">lock</i>{% endpart %}
              {% part form.password2 prefix %}<i class="material-icons prefix">lock</i>{% endpart %}
              {% endform %}
			  			<br>
							<div class="row">
								<button type="submit" id="student-signup-btn" class="btn waves-effect waves-light col s8 offset-s2">Signup <i class="material-icons">send</i></button>
							</div>
							<br>
						</form>
					</div>
				</div>
			</div>
		</div> 

 </div>
    <!--for for recruiter sign up-->
    <div id="recruiter-sign-up" class="white_content"> 
       <a class="hide-on-small-only hide-on-med-only" href = "javascript:void(0)" onclick = "document.getElementById('recruiter-sign-up').style.display='none';document.getElementById('fade').style.display='none'"><i class="fa fa-times fa-2x" id="cross"></i>
       </a>
      <a class="hide-on-large-only" href = "javascript:void(0)" onclick = "document.getElementById('recruiter-sign-up').style.display='none';document.getElementById('fade').style.display='none'"><i class="fa fa-times fa-4x" id="cross"></i>
       </a> 
       <div class="col" id="recruiter-signup-mainbox">
				<div class="col s12" id="recruiter-signup-box">
					<div class="card-panel">
						<h4 class="center-align"> Recruiter Signup </h4>
						<div id="signup-div">
							<form method="POST" action="{% url 'company_signup' %}" id="signup-form" class="col s12">
								{% csrf_token %}
								{% form form=signup_form %}
                {% part form.username prefix %}<i class="material-icons prefix">account_box</i>{% endpart %}
                {% part form.email prefix %}<i class="material-icons prefix">email</i>{% endpart %}
                {% part form.password1 prefix %}<i class="material-icons prefix">lock</i>{% endpart %}
                {% part form.password2 prefix %}<i class="material-icons prefix">lock</i>{% endpart %}
                {% endform %}
			  			<br>
								<div class="row">
									<button type="submit" id="signup-btn" class="btn waves-effect waves-light col s8 offset-s2">Signup  <i class="material-icons">send</i></button>
								</div>
								<br>
							</form>
						</div>
					</div>
				</div>
		</div>

    </div>


   <img src="{% static 'account/images/ipu-logo.png' %}">
   <h4 id="heading">Login</h4>

      <div id="form-box">
           <div class="row">
    	    	 <div class="col s12 m12 l12">
    	      		<ul class="tabs">
    	        		<li class="tab col s6 m6 l6"><a class="active" href="#test1">Student</a></li>
    	        		<li class="tab col s6 m6 l6"><a  href="#test2">Other</a></li>
    	      		</ul>
    	    	 </div>
    	         <div id="test1" class="col s12 m12 l12">
    	            <div class="row">
                        <div class="col s12 m12 l12">
                          <div class="card-panel">
                            <div id="student-login-div">
                              <form method="POST" action="{% url 'student_login' %}" id="student-login-form">
                                {% csrf_token %}
                                {% form form=student_login_form %}

                                {% part form.username prefix %}<i class="material-icons prefix">account_box</i>{% endpart %}
                                {% part form.password prefix %}<i class="material-icons prefix">lock</i>{% endpart %}

                                {% endform %}
                                 <div class="col s6">
                                    <a href="{% url 'forgot_password' %}"> Forgot Password? </a>
                                  </div>
                                <div class="row">
                                  <div class="col s12">
                                    <br>
                                    <button type="submit" id="student-login-btn" class="btn waves-effect waves-light-right">Log In</button>
                                  </div>
                                </div>
                                <br>
                              </form>
                            </div>
                          </div>
                        </div>
                      </div>
    	         </div>
    	         <div id="test2" class="col s12">
                   <div class="row">
                        <div class="col s12 m12 l12">
                          <div class="card-panel">
                            <div id="login-div">
                              <form method="POST" action="{% url 'login' %}" id="login-form">
                                {% csrf_token %}
                                {% form form=login_form %}
                                {% part form.username prefix %}<i class="material-icons prefix">account_box</i>{% endpart %}
                                {% part form.password prefix %}<i class="material-icons prefix">lock</i>{% endpart %}
                                {% endform %}
                                <div class="col s6">
                                    <a href="{% url 'forgot_password' %}"> Forgot Password? </a>
                                  </div>
                                <div class="row">
                                  <div class="col s12">
                                    <br>
                                    <button type="submit" id="login-btn" class="btn waves-effect waves-light-right">Log In</button>
                                  </div>
                                </div>
                                <br>
                              </form>
                            </div>
                          </div>
                        </div>
                      </div>


    	         </div>

           </div>
        
     </div>







{% endblock %}

{% block scripts %}
	<script type="text/javascript" src="{% static 'account/auth.js' %}"></script>
	<script src="{% static 'sweetalert/dist/sweetalert.min.js' %}"></script>
	<script>
		$(document).ready(function() {
			Auth.init();
		});
	</script>
{% endblock %}
