<!DOCTYPE html>
{% load staticfiles %}

<html>
    <head>
            {% include 'material/includes/material_css.html' %}
            <link type="text/css" rel="stylesheet" href="{% static 'css/font-awesome/css/font-awesome.min.css' %}" />
            <link type="text/css" rel="stylesheet" href="{% static 'materialize-blue.css' %}" />
            <link type="text/css" rel="stylesheet" href="{% static 'account/css/base_home_layout.css'%}"  media="screen,projection"/>
            <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
			<meta name="robots" content="noindex, nocache, noimageindex, noarchive, nosnippet, nofollow" />
            {% block head %}{% endblock %}
    </head>

    <style type="text/css">

      #dropdown1
      {
        width: 250px;
      }

      #corner_name
      {
        white-space: pre-wrap;
        margin-top: -15px;
        margin-left: -35px;

      }

      #side-nav-head
{
  font-size: 32px;
  font-weight: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #337ab7;
}

#noti-div
{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding: 2px;
}

#noti-heading
{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 85%;


}

#noti-div h3, #noti-div h4, #noti-div h5
{
   font-size: 14px;
}

#noti-div h3
{
  font-weight: bold;
}

#noti-content
{
  padding-right: 20px;
  padding-left: 20px;
}

#noti-button
{
  font-size: 20px;
  font-weight: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #337ab7;

}


    </style>

    <body>
        <ul id="dropdown1" class="dropdown-content">
            <li id="corner_dropdown">
                <a href="#!" data-links="settings" id="img-box">
                    {% block user_photo_s %}{% endblock %}
                    <span id="corner_name" class="black-text">{% block user_name_card_s %}{% endblock %}</span>
                    <span id="corner_email" class="grey-text lighten-1">{% block user_email_id_s %}{% endblock %}</span>
                </a>
            </li>
            <li class="divider"></li>
            <li><a href="#!" data-links="settings"><i class="fa fa-sliders"></i>Account settings</a></li>
            <li class="divider"></li>
            <li><a href="#!" data-links="notifications"><i class="fa fa-bell"></i>Notifications</a></li>
            <li class="divider"></li>
            <li><a href="{% url 'logout' %}"><i class="fa fa-sign-out"></i>Sign out</a></li>
        </ul>
        <ul id="dropdown2" class="dropdown-content">
            {% block menu_icon_dropdown %}
                <li><a href="#!">wrgwearg</a></li>
                <li class="divider"></li>
            {% endblock %} 
        </ul>

        <ul class="collapsible dropdown-content" data-collapsible="accordion" id="dropdown3">
            <!--every li here represents a notifcations. header and body for notifications repectively-->    
    
        </ul>

 <ul id="slide-out2" class="side-nav">
    
    <h3 id="side-nav-head">Notifications</h3>
    <li><div class="divider"></div></li>
    <li>
    
    <div id="noti-div">
      <div id="noti-heading">
      <h3>None</h3>
      <h4>None</h4>
      </div>
      <div id="noti-content">
      <h5>No Message</h5>
      </div>
    </div>
      
    </li>
    <li><div class="divider"></div></li>
    <li><div class="divider"></div></li>
   

    <li><a href="" id="noti-button">See older notifications</a></li>
  
</ul>





<!--Search box-->
        <div id="light" class="white_content"> 
         <div id="box-search">
            <form id="search-line">
                            <input type="text" name="q" placeholder="Search for Students, Colleges, and Companies..." />
                            <ul id="results"></ul>
            </form>
         </div>   
            <a href = "javascript:void(0)" onclick = "document.getElementById('light').style.display='none'; document.getElementById('fade').style.display='none'; "><i class="fa fa-times fa-3x"></i></a>
        </div>
        <div id="fade" class="black_overlay"></div>

<!--materialize fixed main navbar-->
        <div class="navbar-fixed">
            <nav id="nav-bar">
                <div class="nav-wrapper">
                    <a href="{{ request.user.get_home_url }}" class="brand-logo" id="brand-corner">
                    <div class="left hide-on-med-and-down" style="margin-left: 1.5%;">
                      <div id="logo">
                        <img src="{% static 'images/ipu-logo.png' %}" style="height: 55px">
                        <div id="inner-logo">
                        <h4>Training & Placement cell</h4>
                        <h6>Guru Gobind Singh Indraprastha University</h6> 
                        </div>
                      </div>
                    </div>
                    </a>
                    <a id="center_logo" href="{{ request.user.get_home_url }}" class="brand-logo center hide-on-large-only">Training & Placement Cell</a>
                    <h6 class="center hide-on-large-only" style="font-size: 10px;padding: 0px;margin: 1px;margin-top: 1px;position: absolute;top: 40px;left: 15%;width: 70%;right: 15%">Guru Gobind Singh Indraprastha University</h6>
                    <ul class="right">
                   	<li><a style="padding-right: 5px;" href = "javascript:void(0)" onclick = "document.getElementById('light').style.display='flex';document.getElementById('fade').style.display='flex'"><i class="material-icons">search</i></a>
                  	</li>
                    <!--Older notification button
                  <li class="hide-on-med-and-down">
                    	<a id = 'notification_button' class="dropdown-button tooltipped" data-constrainwidth="false" data-beloworigin="true" data-gutter="10" href="{% url 'get_notifications' %}" data-activates="dropdown3" data-position="left" data-delay="20" data-tooltip="Notifications"><i class="fa fa-bell fa-2x" style="font-size: 1.5em;"></i></a>
                  </li>
                  -->
                  <!--New notifications button-->
                  <li class="hide-on-med-and-down">
                    <a id="notification_button" href="{% url 'get_notifications' %}" data-activates="slide-out2" class="button-collapse2" url="{% url 'shortened_notifications' %}"><i class="fa fa-bell fa-2x" style="font-size: 1.5em;"></i></a>
                  </li>

                  <li class="hide-on-med-and-down">
                  		<a class="dropdown-button" data-constrainwidth="false" data-beloworigin="true" data-gutter="10" href="" data-activates="dropdown2"><i class="material-icons">menu</i></a>
                  </li>   
                  <li class="hide-on-med-and-down">
                    	<a class="dropdown-button" data-constrainwidth="false" data-beloworigin="true" data-gutter="10" href="" data-activates="dropdown1">{% block user_photo2 %}{% endblock %}</a>
                  </li>
                    
              </ul>

              <ul class="left hide-on-large-only">
                
                <li>
                  <a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>
                </li>

              </ul>
            
            </div>
        </nav>
      </div> 

<!--navbar ends-->

<!--sidebar begins-->

 <ul id="slide-out" class="side-nav">
 	<li>
		<div class="userView">
			<div class="background">
				<img src="{% static 'images/bgs2.jpg' %}" width="100%">
			</div>
			<a href="#!user">{% block user_photo %}{% endblock %}</a>
			<a href="#!name"><span class="white-text name">{% block user_name_card %}{% endblock %}</span></a>
			<a href="#!email"><span class="white-text email">{% block user_email_id %}{% endblock %}</span></a>
		</div>
	</li>
	<ul id="sideNav-tabs">
	    {% block side_nav_links %}{% endblock %}
		<li><a href="{% url 'logout' %}"><i class="fa fa-sign-out"></i>Logout</a></li>
	</ul>
  </ul>

<!--sidebar ends-->

<!-- Full Page preloader begins.  -->
  <div id="page-preloader" class="preloader-wrapper big active" style="display : none; position: relative; z-index : 10000; left : 50%; top : 50%; color: red !important; ">
      <div class="spinner-layer spinner-yellow-only">
          <div class="circle-clipper left">
              <div class="circle"></div>
          </div>
          <div class="gap-patch">
              <div class="circle"></div>
          </div>
          <div class="circle-clipper right">
              <div class="circle"></div>
          </div>
      </div>
  </div>
  <div id="preloader-shadow" style="display: none; position: absolute; 
  background: #000; top: 0; left: 0;
  opacity: 0.6; z-index: 9999;">   
  </div>
<!-- END Preloader  -->

<!--Report a Bug Modal Begins-->
  <div id="report-form-modal" class="modal modal-fixed-footer">
    <div class="modal-content">
      <h3 class="center-align" style="color : #337ab7;">Report a Problem</h3>
      <p id="report-form-content">Looking at this? Perhaps an error in connection.</p>
      <small style="color: coral;"><b>Note :</b> Use this form to contact with Website Maintenance Team only. To contact with college, please goto Contact College form.</small>
    </div>
    
    <div class="modal-footer">
      <div class="row" style="margin-bottom: 0;">
            <div class="col s6 l3">
              <button id="close-report-form" class="btn waves-effect waves-light">Cancel<i class="material-icons right">close</i></button>
            </div><div class="col s0 l6"></div>
            <div class="col s6 l3">
              <button id="submit-report-form" url="{% url 'report' %}" class="btn waves-effect waves-light">Submit<i class="material-icons right">send</i></button>
            </div>
      </div>
    </div>
  </div>
  <button id="report-form-modal-trigger" data-target="report-form-modal" style="display: none;"></button>
   
<!--Report a Bug Modal Ends-->

<!--notification-sidebar begins-->

 <ul id="slide-out" class="side-nav">
 	<li>
		<div class="userView">
			<div class="background">
				<img src="{% static 'images/bgs2.jpg' %}" width="100%">
			</div>
		</div>
	</li>
	
  </ul>

<!--sidebar ends-->

        <main>
            <!--Tabs bar begins--> 
            <div id="tab-bar">
                <div>
                    <div class="row hide-on-med-and-down">
                        <ul class="tabs" id="main-tabs">
                            <!--naming for tabs-->
                            {% block tabs %}
                            <!--each li  represents a new tab with the name-->
<!--                            <li class="tab col s2"><a class="active" href="#test1">Test 1</a></li> -->
                            {% endblock %}
                        </ul>
                    </div>
                    <div id="tabs-data-div" class="row"> 
                        {% block tabs_content %}
                        {% endblock %}
                    </div>
                </div>
            </div>

            {% block mobile_content %}
            {% endblock %}

<!-- Floating Button containg info and reload btns -->
		<div id="fixed-action-button">
			<div class="fixed-action-btn click-to-toggle">
				<a style="background-color: lightcoral !important" class="btn-floating btn-large"><i class="fa fa-plus"></i> </a>
				<ul>
					<li>
						<a class="reload-btn btn-floating waves-effect waves-light teal lighten-3" style="transform: scaleX(0.4) scaleY(0.4) translateY(40px); opacity: 0;"><i class="fa fa-refresh"></i></a>
					</li>
					<li>
						<a class="info-btn btn-floating waves-effect waves-light blue lighten-1" style="transform: scaleX(0.4) scaleY(0.4) translateY(40px); opacity: 0;"><i class="fa fa-info"></i></a>
					</li>
				</ul>
			</div>
		</div>
<!-- -->
<!-- Info Modal Structure -->
		<div id="info-modal" class="modal modal-fixed-footer">
			<div class="modal-content">
				<h4 class="heading">Information</h4>
				<p>No information to display</p>
			</div>
			<div class="modal-footer">
				<a href="#!" class="modal-action modal-close waves-effect waves-blue btn-flat">Close</a>
			</div>
		</div>
	</main>



        <script src="{% static 'material/js/jquery-2.2.0.js' %}"></script>
        {% include 'material/includes/material_js.html' %}
        {% block scripts %}{% endblock %}
        <script type="text/javascript" src="{% static 'notification/get_notification.js' %}"></script>
		<script type="text/javascript" src="{% static 'common/utils.js' %}"></script>
    <script src="https://www.google.com/recaptcha/api.js?" async defer></script>
        <script type="text/javascript">
      		$(document).ready(function(e) {
				$('#dropdown3').on('click', function(e){e.stopPropagation();});
				$('.dropdown-button').on('click', function(e){e.preventDefault()});
				$('nav .brand-logo').on('click', function(e){location.href='';});
				GetNotification.init();
				$('.button-collapse').sideNav({
					menuWidth: 240, 
					closeOnClick: true, // Closes side-nav on <a> clicks, useful for Angular/Meteor
					draggable: true,
			});
				Utils.init({'fab': true});
});
		
		// Mapping dropdown links to tabs
		    $('#dropdown1 a').each(function(i, a){
      			var el = $(a);
      			var target = el.data('links');
      			if (!target)
      				return true;
      			var target_el = $('#tab-bar').find("[href='#" + target + "']");
      			if(!target_el.length)
      				return true;
      			el.on('click', function(e){e.preventDefault();target_el[0].click();});
      		});

    //Report Form Modal
      $('#report-form-modal').modal({
        inDuration: 20,
        ready: function() { 
          // Callback for Modal open. Modal and trigger parameters available.
          getReportForm();
        },
      });

		// Info modal
			$('#info-modal').modal({
				dismissible: true, // Modal can be dismissed by clicking outside of the modal
				opacity: .5, // Opacity of modal background
				inDuration: 200, // Transition in duration
				outDuration: 100, // Transition out duration
				startingTop: '4%', // Starting top style attribute
				endingTop: '10%', // Ending top style attribute
			});

       $('.button-collapse2').sideNav({
      menuWidth: 300, // Default is 300
      edge: 'right', // Choose the horizontal origin
      closeOnClick: true, // Closes side-nav on <a> clicks, useful for Angular/Meteor
      draggable: true // Choose whether you can drag to open on touch screens
    }
  );
    
        </script>
        

       {% block lightbox_data %}
       {% endblock %}
       {% block lightbox_data2 %}
       {% endblock %}
        
    </body>
</html>
