{% autoescape off %}
{{ greeting }}

To initiate the password reset process for your GGSIPU Training & Placement Cell account,
click the link below:

{{ protocol }}://{{ domain }}{% url 'reset_password' user_hashid=user_hashid token=token %}

If clicking the link above doesn't work, please copy and paste the URL in a new browser
window instead.


Note: The reset link will be valid only for {{ days }} day{{ days|pluralize }}.


Sincerely,

Development & Maintenance Team
Training & Placement Cell
Guru Gobind Singh Indraprastha University

{% endautoescape %}
