{% extends 'account/nav-landing.html' %}
{% load staticfiles %}
{% load material_form %}
{% load recaptcha %}
{% block title %}
	Forgot Password
{% endblock %}
{% block head %}
	<link rel="stylesheet" type="text/css" href="{% static 'sweetalert/dist/sweetalert.css' %}">
{% endblock %}
{% block main %} 
<style type="text/css">
	 @media (min-width:300px) and (max-width:992px){

	 	#forgot-password-form-div
	 	{
	 		padding-top: 8%;
	 	}

	 	.row
	 	{
	 		padding-top: 40px;
	 	}

	 	h4 {
    font-size: 2.28rem;
    line-height: 110%;
    margin: 1.14rem 0 0.912rem 0;
    margin-bottom: 0px;
       }

       .section {
    padding-top: .6rem;
    padding-bottom: 1rem;
}
	 }
</style>

	<div id="forgot-password-form-div" class="row">
		<h4 class="col s12 center teal-text">Forgot Password</h4>
		<form class="col s12 l8 offset-l2" action="{% url 'forgot_password' %}" method='POST' id="forgot-password-form">
			{% csrf_token %}
			{% form form=forgot_password_form %}{% endform %}
			<div id='forgot-password-recaptcha-div' site-key="{% recaptcha_site_key %}" style="margin-bottom: 2%;"></div>
			<div class="col s12">
				<button type="submit" name="forgot_password" class="btn btn-waves-light col s8 offset-s2">Proceed</button>
			</div>
		</form>
	</div>
	<div id='bogus-message-div' message="{{ message }}" style="display: none;"></div>
	<script src="{% static 'sweetalert/dist/sweetalert.min.js' %}"></script>
	<script>
		var onloadCallback = function() {
			var site_key = document.getElementById('forgot-password-recaptcha-div').getAttribute('site-key');
	        grecaptcha.render('forgot-password-recaptcha-div', {
	          'sitekey' : site_key,
	        });
	    };
	    {% if error %}
	    var message = document.getElementById('bogus-message-div').getAttribute('message');
		swal({
			title: "Error!",
			text: message,
			type: "error",
			confirmButtonColor: "#DD6B55",
			closeOnConfirm: true,
				});
		{% endif %}
	</script>
	<script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit"
        async defer>
    </script>

{% endblock %}
