{% extends 'account/nav-landing.html' %}
{% load staticfiles %}



{% block head %}
  <link type="text/css" rel="stylesheet" href="{% static 'common/css/font-awesome/css/font-awesome.min.css' %}" />
  <link type="text/css" rel="stylesheet" href="{% static 'materialize-blue.css' %}" />
  <link type="text/css" rel="stylesheet" href="{% static 'account/css/landing.css' %}" />
  <link type="text/css" rel="stylesheet" href="{% static 'account/css/intro.css' %}" />
{% endblock %}

{% block main %}
  <h2>Why GGSIPU</h2>
{% endblock %}
