{% extends 'account/base.html' %}
{% load staticfiles %}
{% load material_form %}

{% block title %}Training And Placement Cell{% endblock %}

{% block head %}
	<link type="text/css" rel="stylesheet" href="{% static 'common/css/font-awesome/css/font-awesome.min.css' %}" />
	<link type="text/css" rel="stylesheet" href="{% static 'materialize-blue.css' %}" />
	<link type="text/css" rel="stylesheet" href="{% static 'account/css/landing.css' %}" />
{% endblock %}

{% block header %}
<div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper">
        <a href="#!" class="brand-logo center hide-on-med-and-down">Training & Placement Cell</a>
        <a href="#!" class="brand-logo left hide-on-large-only">Training & Placement Cell</a>
      </div>
    </nav>
  </div>

  
{% endblock header %}

{% block content %}

     <div class="parallax-container">
    <div class="parallax"></div>
  </div>
  <div class="section" id="first-section">
    <div class="row container" id="first-box">
      <img class="responsive-img" src="{% static 'account/images/ipu-logo.png' %}">
      <h3>Guru Gobind Singh Indraprastha University</h3>
    </div>
  </div>
  <div class="parallax-container" id="second-parallax-container">
    <div class="parallax" id="img-mid"></div>
  </div>
  <div class="section" id="second-section">
    <div class="row container" id="second-box">
      <h3>Recruiters Associated With Us</h3>
      <div id="second-box-images">
         <img class="responsive-img" src="{% static 'images/AmazonLogo.jpg' %}">
         <img class="responsive-img" src="{% static 'images/flipkartlogo.png' %}">
         <img class="responsive-img" src="{% static 'images/snapdeal-new-logo.png' %}">
         <img class="responsive-img" src="{% static 'images/Microsoft-logo.png' %}">
         <img class="responsive-img" src="{% static 'images/Adobe_logo.jpg' %}">
         <img class="responsive-img" src="{% static 'images/TCS-Logo.jpg' %}">
      </div>
    </div>
  </div>
  <div class="parallax-container" id="last-parallax-container">
    <div class="parallax" id="img-bottom"></div>
  </div>
  <div class="section" id="third-section">
    <div class="row container" id="third-box">
      <h3>Development & Maintenance team</h3>
      <div id="third-box-images">
            <div class="team-member">
              <img class="circle responsive-img" src="{% static 'account/images/team/bob.jpg' %}">
              <h5>Pratulya Bubna</h5>
            </div>
            <div class="team-member">
              <img class="circle responsive-img" src="{% static 'account/images/team/rajjo.jpg' %}">
              <h5>Rajneesh Sharma</h5>
            </div>
            <div class="team-member">
              <img class="circle responsive-img" src="{% static 'account/images/team/shivam.jpg' %}">
              <h5>Shivam Sharma</h5>
        </div>
      </div>
    </div>
  </div>


        

	<a id="corner-button" href="{% url 'auth' %}" class="waves-effect waves-light btn-large red text-flow">Login / Sign Up</a>
{% endblock %}

{% block scripts %}
	<script>
		$(document).ready(function() {
			$('.slider').slider({full_width: true});

		});

		 $(document).ready(function(){
    // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
    $('.modal-trigger').leanModal();
  });

		 $('.modal-trigger').leanModal({
      ready: function() { $('.slider').slider('pause'); }, // Callback for Modal open
      complete: function() { $('.slider').slider('start'); } // Callback for Modal close
    }
  );

    $(document).ready(function(){
      $('.parallax').parallax();
    });

      
	</script>
{% endblock %}
