{% extends 'account/base.html' %}
{% load staticfiles %}

{% block title %}Training and placement cell – Guru Gobind Singh Indraprastha University | GGSIPU placements | IPU placements | IP university placements | Indraprastha University delhi Placement | Tnp cell ip university{% endblock %}

{% block head %}
	<link type="text/css" rel="stylesheet" href="{% static 'common/css/font-awesome/css/font-awesome.min.css' %}" />
	<link type="text/css" rel="stylesheet" href="{% static 'materialize-blue.css' %}" />
	<link type="text/css" rel="stylesheet" href="{% static 'account/css/landing.css' %}" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
 

	<!--SEO work meta tags-->
	<meta name="keywords" content="Training and placement cell Guru Gobind Singh Indraprastha University, GGSIPU placements, IPU placements, IP university placements, Indraprastha University delhi placements, Indraprastha university placements, tnp cell ipu, tnp ip univeristy, placements at ipu, placements at indraprastha univeristy delhi, placement record at ipu, placement percentage at ipu, placement record at ggsipu"> 

	<meta name="description" content="Training and placement cell portal - Guru Gobind Singh Indraprastha University | Placements at IP university">

	<meta name="twitter:title" content="Training and placement cell – Guru Gobind Singh Indraprastha University | GGSIPU placements | IPU placements | IP University placements | Indraprastha University delhi Placement"/>

	<meta name="twitter:description" content="Training and placement cell portal - Guru Gobind Singh Indraprastha University | Placements at IP university" />

	<meta property="og:title" content="Training and placement cell – Guru Gobind Singh Indraprastha University | GGSIPU placements | IPU placements | IP university placements | Indraprastha University delhi Placement" />

	<meta property="og:description" content="Training and placement cell portal - Guru Gobind Singh Indraprastha University | Placements at IP university" />
	<meta property="og:url" content= "https://placements.ggsipu.ac.in/" />
	<!--End SEO work-->

{% endblock %}

{% block header %}

<ul id="dropdown1" class="dropdown-content">
    <li><a href="{% url 'procedure' %}">For Students</a></li>
    <li class="divider"></li>
    <li><a href="#!">For Recruiters</a></li>
</ul>

<ul id="dropdown2" class="dropdown-content">
    <li><a href="#!">For Students</a></li>
    <li class="divider"></li>
    <li><a href="#!">For Recruiters</a></li> 
</ul>

<ul id="dropdown3" class="dropdown-content">
    <li><a href="{% url 'procedure' %}">For Students</a></li>
    <li class="divider"></li>
    <li><a href="#!">For Recruiters</a></li> 
</ul>        

<ul id="dropdown4" class="dropdown-content">
    <li><a href="#!">For Students</a></li>
    <li class="divider"></li>
    <li><a href="#!">For Recruiters</a></li> 
</ul>

<div class="navbar-fixed">
    <nav>

      <div class="nav-wrapper hide-on-med-and-down">
        <a href="{% url 'landing' %}" class="brand-logo" id="brand-corner">
                    <div class="left" style="margin-left: 1.5%;">
                      <div id="logo">
                        <img src="{% static 'images/ipu-logo.png' %}" style="height: 55px">
                        <div id="inner-logo">
                        <h4>Training & Placement cell</h4>
                        <h6>Guru Gobind Singh Indraprastha University</h6> 
                        </div>
                      </div>
                    </div>
        </a>
      <ul id="nav-mobile" class="right">
        <li><a href="{% url 'intro' %}">Why GGSIPU</a></li>
        <li><a class='dropdown-button' href='#' data-gutter="0" data-constrainwidth="false" data-beloworigin="true"  data-activates='dropdown1'>Procedure</a></li>
        <!-- <li><a href="{% url 'procedure' %}">Procedure</a></li> -->
        <li><a href="">Recruiters</a></li>
        <li><a class='dropdown-button' href='#' data-gutter="20" data-constrainwidth="false" data-beloworigin="true"  data-activates='dropdown2'>Rules & Regulations</a></li>
        <li><a href="{% url 'stats' %}">Placement Stats</a></li>
       <!-- <li><a href="{% url 'team' %}">Meet The Team</a></li> -->
      </ul>
      </div>

    <div class="nav-wrapper hide-on-large-only">
      <a href="{% url 'landing' %}" id="brand-corner">
                    <div style="margin-left: 1.5%;">
                      <div id="logo">
                        <img src="{% static 'images/ipu-logo.png' %}" style="height: 45px">
                        <div id="inner-logo">
                        <h4>Training & Placement cell</h4>
                        <h6>Guru Gobind Singh Indraprastha University</h6> 
                        </div>
                      </div>
                    </div>
      </a>
      <ul id="mobile-links">
        <li><a href="{% url 'intro' %}">Why GGSIPU</a></li>
        <li><a a class='dropdown-button' href='#' data-gutter="0" data-constrainwidth="false" data-beloworigin="true"  data-activates='dropdown3'>Procedure</a></li>
        <li><a href="{% url 'stats' %}">Placement Stats</a></li>
        <li><a class='dropdown-button' href='#' data-gutter="20" data-constrainwidth="false" data-beloworigin="true"  data-activates='dropdown4'>Rules & Regulations</a></li>
        <li><a href="{% url 'stats' %}">Placement Stats</a></li>
      </ul>
    </div>
  </nav>
  </div>

  
{% endblock header %}

{% block content %}                  
 
    
   <div class="parallax-container" id="first-parallax-container">
    <div class="parallax" id="img-first">
    	<div class="row container" id="first-bo">
    	    <img id="icon-college" src="{% static 'account/images/ipu-logo.png' %}">
      		<h3>Guru Gobind Singh Indraprastha University</h3>
            <a id="corner-button" href="{% url 'auth' %}" class="waves-effect waves-light btn-large red text-flow">Login / Sign Up</a>
    	</div>
    </div>
  </div>

  <div class="parallax-container" id="second-parallax-container">
    <div class="parallax" id="img-mid"></div>
  </div>
  <div class="section" id="second-section">
    <div class="row container" id="second-box">
      <h3>Recruiters Associated With Us</h3>
      <div id="second-box-images">
         <img class="responsive-img" src="{% static 'images/AmazonLogo.jpg' %}">
         <img class="responsive-img" src="{% static 'images/flipkartlogo.png' %}">
         <img class="responsive-img" src="{% static 'images/snapdeal-new-logo.png' %}">
         <img class="responsive-img" src="{% static 'images/Microsoft-logo.png' %}">
         <img class="responsive-img" src="{% static 'images/Adobe_logo.jpg' %}">
         <img class="responsive-img" src="{% static 'images/TCS-Logo.jpg' %}">
      </div>
    </div>
  </div>
  <div class="parallax-container" id="last-parallax-container">
    <div class="parallax" id="img-bottom"></div>
  </div>
 


<footer class="page-footer" style="margin-top: 0px;">
          <div class="container">
            <div class="row" style="margin-bottom: 0px;">
              <div class="col l10 offset-l1 s12">
                <ul style="display: flex;width: 90%;justify-content: space-between;" id="footer-links">
                  <li><a class="grey-text text-lighten-3" href="#!">Contact Us</a></li>
                  <li> | </li>
                  <li><a class="grey-text text-lighten-3" href="#!">Feedback</a></li>
                  <li> | </li>
                  <li><a href="http://www.ipu.ac.in/rti.php" class="grey-text text-lighten-3" target="_blank" href="#!">RTI</a></li>
                  <li> | </li>
                  <li><a href="{% url 'team' %}" class="grey-text text-lighten-3" href="#!">Meet the team</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
	            <div id="footer-last" style="width: 100%;display: flex;justify-content: center;align-items: center;"> 
	            © 2016 GURU GOBIND SINGH INDRAPRASTHA UNIVERSITY. All rights reserved.
	            </div>	
            </div>
          </div>
</footer>

        

	
{% endblock %}

{% block scripts %}
	<script>
/*		$(document).ready(function() {
			$('.slider').slider({full_width: true});

		});

		 $(document).ready(function(){
    // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
    $('.modal-trigger').leanModal();
  });

		 $('.modal-trigger').leanModal({
      ready: function() { $('.slider').slider('pause'); }, // Callback for Modal open
      complete: function() { $('.slider').slider('start'); } // Callback for Modal close
    }
  );
*/
    $(document).ready(function(){
      $('.parallax').parallax();
    });

     $('.dropdown-button').dropdown({
      inDuration: 300,
      outDuration: 225,
      constrainWidth: false, // Does not change width of dropdown to that of the activator
      hover: true, // Activate on hover
      gutter: 0, // Spacing from edge
      belowOrigin: false, // Displays dropdown below the button
      alignment: 'right', // Displays dropdown with edge aligned to the left of button
      stopPropagation: false // Stops event propagation
    }
  );

      
	</script>
{% endblock %}
