{% extends 'account/base.html' %}
{% load staticfiles %}
{% load material_form %}

{% block title %}Training And Placement Cell{% endblock %}

{% block head %}
	<link type="text/css" rel="stylesheet" href="{% static 'common/css/font-awesome/css/font-awesome.min.css' %}" />
	<link type="text/css" rel="stylesheet" href="{% static 'materialize-blue.css' %}" />
{% endblock %}

{% block content %}
	<div class="slider fullscreen">
		<ul class="slides">
			<li>
				<img class="responsive-img circle" src="{% static 'images/ipu-logo.png' %}" style="height: 200px !important; width: 200px !important">
				<div class="caption center-align">
					<h3>Guru Gobind Singh Indraprastha University</h3>
					<h5 class="light grey-text text-lighten-3">Training & Placement Cell</h5>
				</div>
			</li>
			<li class="row" style="overflow-y: scroll">
				<h3 class="center">Recruiters Associated With Us</h3>
				<div class="col s10 offset-s1">
					<div class="col s10 m5 l3 offset-s1">
						<div class="recruiter-logo">
							<a href=""><img src="/media/TCS.png" width="200" height="101" alt="TCS" title="Tata Consultancy Services"></a>
						</div>  
						<div class="recruiter-label center">
							Tata Consultancy Services
						</div>
					</div>
					<div class="col s10 m5 l3 offset-s1">
						<div class="recruiter-logo">
							<a href=""><img src="/media/TCS.png" width="200" height="101" alt="TCS" title="Tata Consultancy Services"></a>
						</div>  
						<div class="recruiter-label center">
							Tata Consultancy Services
						</div>
					</div>
					<div class="col s10 m5 l3 offset-s1">
						<div class="recruiter-logo">
							<a href=""><img src="/media/TCS.png" width="200" height="101" alt="TCS" title="Tata Consultancy Services"></a>
						</div>  
						<div class="recruiter-label center">
							Tata Consultancy Services
						</div>
					</div>
					<div class="col s10 m5 l3 offset-s1">
						<div class="recruiter-logo">
							<a href=""><img src="/media/TCS.png" width="200" height="101" alt="TCS" title="Tata Consultancy Services"></a>
						</div>  
						<div class="recruiter-label center">
							Tata Consultancy Services
						</div>
					</div>
					<div class="col s10 m5 l3 offset-s1">
						<div class="recruiter-logo">
							<a href=""><img src="/media/TCS.png" width="200" height="101" alt="TCS" title="Tata Consultancy Services"></a>
						</div>  
						<div class="recruiter-label center">
							Tata Consultancy Services
						</div>
					</div>
					<div class="col s10 m5 l3 offset-s1">
						<div class="recruiter-logo">
							<a href=""><img src="/media/TCS.png" width="200" height="101" alt="TCS" title="Tata Consultancy Services"></a>
						</div>  
						<div class="recruiter-label center">
							Tata Consultancy Services
						</div>
					</div>
					<div class="col s10 m5 l3 offset-s1">
						<div class="recruiter-logo">
							<a href=""><img src="/media/TCS.png" width="200" height="101" alt="TCS" title="Tata Consultancy Services"></a>
						</div>  
						<div class="recruiter-label center">
							Tata Consultancy Services
						</div>
					</div>
					<div class="col s10 m5 l3 offset-s1">
						<div class="recruiter-logo">
							<a href=""><img src="/media/TCS.png" width="200" height="101" alt="TCS" title="Tata Consultancy Services"></a>
						</div>  
						<div class="recruiter-label center">
							Tata Consultancy Services
						</div>
					</div>
					<div class="col s10 m5 l3 offset-s1">
						<div class="recruiter-logo">
							<a href=""><img src="/media/TCS.png" width="200" height="101" alt="TCS" title="Tata Consultancy Services"></a>
						</div>  
						<div class="recruiter-label center">
							Tata Consultancy Services
						</div>
					</div>
					<div class="col s10 m5 l3 offset-s1">
						<div class="recruiter-logo">
							<a href=""><img src="/media/TCS.png" width="200" height="101" alt="TCS" title="Tata Consultancy Services"></a>
						</div>  
						<div class="recruiter-label center">
							Tata Consultancy Services
						</div>
					</div>
				</div>
			</li>
			<li>
				<img src="">
				<div class="caption right-align">
					<h3>Right Aligned Caption</h3>
					<h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
				</div>
			</li>
		</ul>
	</div>
	<a href="{% url 'auth' %}" class="waves-effect waves-light btn-large red text-flow" style="position: fixed; right: 0; bottom: 0;z-index: 5;">Sign In / Sign Up</a>
{% endblock %}

{% block scripts %}
	<script>
		$(document).ready(function() {
			$('.slider').slider({full_width: true});
		});
	</script>
{% endblock %}
