{% extends 'account/base.html' %}
{% load material_form %}
{% load staticfiles %}
{% block title %} Login {% endblock title %}
{% block content %}
<div class="row">
	<div class="col s12 m8 l6 offset-m2 offset-l3">
		<div class="card-panel">
			<h4> Login </h4>
			<form method="POST" action="{% url 'login' %}">
				{% csrf_token %}
				{% form form=login_form %}{% endform %}
				<div class="row">
					<div class="col s12">
						<br>
						<button type="submit" id="login-btn" name="login" data-id="false" class="btn waves-effect waves-light-right">Log In<i class="material-icons right">send</i></button>
					</div>
				</div>
				<br>
				<div class="row">
					<div class="col s6">
						<a href="{% url 'company_signup' %}"> Create Account </a>
					</div>
					<div class="col s6 m5 offset-m1">
						<a href="{% url 'forgot_password' %}"> Forgot Password? </a>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
{% endblock content %}
