{% extends 'account/base.html' %}
{% load staticfiles %}
{% load material_form %}

{% block title %}Training And Placement Cell{% endblock %}

{% block head %}
	<link type="text/css" rel="stylesheet" href="{% static 'common/css/font-awesome/css/font-awesome.min.css' %}" />
	<link type="text/css" rel="stylesheet" href="{% static 'materialize-blue.css' %}" />
	<link type="text/css" rel="stylesheet" href="{% static 'account/css/nav-landing.css' %}" />
{% endblock %}

{% block header %}
<div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper">
        <a class="brand-logo" id="brand-corner">
                    <div class="left" style="margin-left: 1.5%;">
                      <div id="logo">
                        <img src="{% static 'images/ipu-logo.png' %}" style="height: 55px">
                        <div id="inner-logo">
                        <h4>Training & Placement cell</h4>
                        <h6>Guru Gobind Singh Indraprastha University</h6> 
                        </div>
                      </div>
                    </div>
        </a>
        <ul class="left">
          <li class="hide-on-med-and-down"><a style="line-height: 64px;height: 64px;" href="{% url 'landing' %}"><i class="fa fa-arrow-left fa-2x" aria-hidden="true"></i>
            </a>
          </li>
          <li class="hide-on-large-only"><a style="line-height: 64px;height: 64px;" href="{% url 'landing' %}"><i class="fa fa-arrow-left fa-4x" aria-hidden="true"></i>
            </a>
          </li>
        </ul>
      </div>
    </nav>
</div>

  
{% endblock header %}

{% block content %}
  
  {% block main %}

  {% endblock %}  
  
  <a id="corner-button" href="{% url 'auth' %}" class="waves-effect waves-light btn-large red text-flow">Login / Sign Up</a>
{% endblock %}

{% block scripts %}
  
  
{% endblock %}
