<!DOCTYPE html>
{% load staticfiles %}

<html>
    <head>
            {% include 'material/includes/material_css.html' %}
            <link type="text/css" rel="stylesheet" href="{% static 'css/font-awesome/css/font-awesome.min.css' %}" />
            <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
            <link type="text/css" rel="stylesheet" href="{% static 'materialize-blue.css' %}" />
            <link type="text/css" rel="stylesheet" href="{% static 'account/css/base_home_layout.css'%}"  media="screen,projection"/>
            <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
            {% block head %}{% endblock %}
    </head>

    <style type="text/css">

      #dropdown1
      {
        width: 250px;
      }

      #corner_name
      {
        white-space: pre-wrap;
        text-align: center;
        margin-top: -15px;

      }
      #corner_email
      {
        text-align: center;

      }


    </style>

    <body>
        <ul id="dropdown1" class="dropdown-content">
            <li id="corner_dropdown">
                <a href="#!" data-links="settings" id="img-box">
                    <img src="{% block user_photo %}{% endblock %}" class="circle" height="90" width="90">
                    <span id="corner_name" class="black-text">{% block user_name_card %}{% endblock %}</span>
                    <span id="corner_email" class="grey-text lighten-1">{% block user_email_id %}{% endblock %}</span>
                </a>
            </li>
            <li class="divider"></li>
            <li><a href="#!" data-links="settings"><i class="fa fa-sliders"></i>Account settings</a></li>
            <li class="divider"></li>
            <li><a href="#!" data-links="notifications"><i class="fa fa-bell"></i>Notifications</a></li>
            <li class="divider"></li>
            <li class="divider"></li>
            <li><a href="{% url 'logout' %}"><i class="fa fa-sign-out"></i>Sign out</a></li>
        </ul>
        <ul id="dropdown2" class="dropdown-content">
            {% block menu_icon_dropdown %}
                <li><a href="#!">wrgwearg</a></li>
                <li class="divider"></li>
            {% endblock %} 
        </ul>

        <ul class="collapsible dropdown-content" data-collapsible="accordion" id="dropdown3">
            <div id="noti-head">Notifications</div>
            {% block notifications_dropdown %}
            <!--every li here represents a notifcations. header and body for notifications repectively-->
                <li>
                    <div class="collapsible-header">First</div>
                    <div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
                </li>
                <li>
                    <div class="collapsible-header">Second</div>
                    <div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
                </li>
                <li>
                    <div class="collapsible-header">Third</div>
                    <div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
                </li>
                <li>
                    <div class="collapsible-header">Fourth</div>
                    <div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
                </li>
            {% endblock %}
        </ul>
<!--Search box for tab and mobile view-->
        <div id="light" class="white_content"> 
         <div id="box-search">
            <form id="search">
                            <input type="text" name="q" placeholder="Search for Students, Colleges, and Companies..." />
            </form>
         </div>   
            <a href = "javascript:void(0)" onclick = "document.getElementById('light').style.display='none'; document.getElementById('fade').style.display='none'; "><i class="fa fa-times fa-2x"></i></a>
        </div>
        <div id="fade" class="black_overlay"></div>

<!--materialize fixed main navbar-->
        <div class="navbar-fixed">
            <nav id="nav-bar">
                <div class="nav-wrapper">
                    <a href="#!" class="brand-logo left hide-on-small-only">Training & Placement Cell</a>
                    <a href="#!" class="brand-logo left hide-on-large-only hide-on-med-only">TPC</a>
                    <ul class="right">
                    <li class="center hide-on-med-and-down">
                    <!--materialize search-bar-->
					    <form id="search">
                            <input type="text" name="q" placeholder="Search for Students, Colleges, and Companies..." />
                            <ul id="results"></ul>
                        </form>
                    </li>
                   	<li class="hide-on-large-only"><a href = "javascript:void(0)" onclick = "document.getElementById('light').style.display='flex';document.getElementById('fade').style.display='flex'"><i class="material-icons">search</i></a>
                  	</li>

                    <li>
                      <a class="waves-effect waves-light btn">Home</a>
                  </li>



                  	<li>
                    	<a id = 'notification_button' class="dropdown-button tooltipped" data-constrainwidth="false" data-beloworigin="true" data-gutter="10" href="{% url 'get_notifications' %}" data-activates="dropdown3" data-position="left" data-delay="20" data-tooltip="Notifications"><i class="material-icons">add_alert</i></a>
                  </li>

                  <li>
                  		<a class="dropdown-button" data-constrainwidth="false" data-beloworigin="true" data-gutter="10" href="" data-activates="dropdown2"><i class="material-icons">menu</i></a>
                  </li>   
                  <li>
                    	<a class="dropdown-button" data-constrainwidth="false" data-beloworigin="true" data-gutter="10" href="" data-activates="dropdown1"><img src="{% block user_photo2 %}{% endblock %}" class="circle" id="img-corner"></a>
                  </li>
                    
              </ul>
           
            </div>
        </nav>
      </div> 

<!--navbar ends-->

        <main>
           
        </main>


        <script src="{% static 'material/js/jquery-2.2.0.js' %}"></script>
        {% include 'material/includes/material_js.html' %}
        {% block scripts %}{% endblock %}
        <script type="text/javascript" src="{% static 'notification/get_notification.js' %}"></script>
        <script type="text/javascript">
      			$(document).ready(function(e) {
      	            $('#dropdown3').on('click', function(e){e.stopPropagation();});
          	        $('.dropdown-button').on('click', function(e){e.preventDefault()});
      				$('nav .brand-logo').on('click', function(e){location.href='';});
            		GetNotification.init();
      			});
		
		// Mapping dropdown links to tabs
		    $('#dropdown1 a').each(function(i, a){
      			var el = $(a);
      			var target = el.data('links');
      			if (!target)
      				return true;
      			var target_el = $('#tab-bar').find("[href='#" + target + "']");
      			if(!target_el.length)
      				return true;
      			el.on('click', function(e){e.preventDefault();target_el[0].click();});
      		});
        </script>
        
       {% block lightbox_data %}
       {% endblock %}
       {% block lightbox_data2 %}
       {% endblock %}
        
    </body>
</html>
