{% extends 'account/base.html' %}
{% block title %} Complete Signup {% endblock title %}
{% block content %}
	<div class="valign-wrapper">
		<p class="valign" style="color: midnightblue">An account activation link has been set to your registered email id {{ email }}.<br> To activate your account, click on the activation link sent.</p>
	<hr />
		<div class="valign">
			<a href="{{ profile_creation }}">Complete Signup</a>
			<br />
			<a href="{% url 'logout' %}">Logout</a>
		</div>
	</div>
{% endblock content %}
