{% extends 'account/nav-landing.html' %}
{% load staticfiles %}



{% block head %}
  <link type="text/css" rel="stylesheet" href="{% static 'common/css/font-awesome/css/font-awesome.min.css' %}" />
  <link type="text/css" rel="stylesheet" href="{% static 'materialize-blue.css' %}" />
  <link type="text/css" rel="stylesheet" href="{% static 'account/css/landing.css' %}" />
  <link type="text/css" rel="stylesheet" href="{% static 'account/css/procedures.css' %}" />
{% endblock %}

{% block main %}
  <div id="main-box">
   <h4>Placement Process</h4>
    <ol id="steps">
      <li class="step">
        <img src="{% static 'images/process_pics/1.png' %}">
        <p>Placement office sends invitations to companies/organizations along with relevant information.</p>
      </li>
      <li class="step">
        <img src="{% static 'images/process_pics/2.png' %}">
        <p>
        Companies and organizations interested to recruit, register to the T&P website.
        </p>
      </li>
      <li class="step">
        <img src="{% static 'images/process_pics/3.png' %}">
        <p> A placement session can be created by both the college and the company by sending association requests to each other. The job profile and elegibility criteria is decided at this step after the request is accepted.</p>
      </li>
      <li class="step">
        <img src="{% static 'images/process_pics/4.png' %}">
        <p>Interested and eligible students apply to be considered for the job.</p>
      </li>
      <li class="step">
        <img src="{% static 'images/process_pics/5.png' %}">
        <p>Companies get access to the resume and profile of the interested students through the T&P website and students are shortlisted.</p>
      </li>
      <li class="step">
        <img src="{% static 'images/process_pics/6.png' %}">
        <p>Shortlisted students are notified.</p>
      </li>
      <li class="step">
        <img src="{% static 'images/process_pics/7.png' %}">
        <p>Students can check their progress in various rounds of the placement session.</p>
      </li>
      <li class="step">
        <img src="{% static 'images/process_pics/8.png' %}">
        <p>After completion of selection process, the selected students are notified.</p>
      </li>
    </ol>
    
  </div>
{% endblock %}
