{% extends 'account/nav-landing.html' %}
{% load staticfiles %}


{% block head %}
  <link type="text/css" rel="stylesheet" href="{% static 'common/css/font-awesome/css/font-awesome.min.css' %}" />
  <link type="text/css" rel="stylesheet" href="{% static 'materialize-blue.css' %}" />
  <link type="text/css" rel="stylesheet" href="{% static 'account/css/procedure.css' %}" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
{% endblock %}

{% block main %}
  <div id="main-box">
   <h4>Placement Process</h4>
   <p style="margin: 2px;"><i>{ Image courtesy : Google }</i></p>
    <ol id="steps">
      <li class="step">
        <img src="{% static 'images/process_pics/1.png' %}">
        <p>Placement office sends invitations to companies/organizations along with relevant information.</p>
      </li>
      <li class="step">
        <img src="{% static 'images/process_pics/2.png' %}">
        <p>
        Companies and organizations interested to recruit, register to the T&P website.
        </p>
      </li>
      <li class="step">
        <img src="{% static 'images/process_pics/3.png' %}">
        <p> A placement session can be created by both the college and the company by sending association requests to each other. The job profile and elegibility criteria is decided at this step after the request is accepted.</p>
      </li>
      <li class="step">
        <img src="{% static 'images/process_pics/4.png' %}">
        <p>Interested and eligible students apply to be considered for the job. Recruiters can see all the applications on the platform.</p>
      </li>
      <li class="step">
        <img src="{% static 'images/process_pics/5.png' %}">
        <p>Recruiters get access to the resume and profile of the interested students through the T&P website and students are shortlisted.</p>
      </li>
      <li class="step">
        <img src="{% static 'images/process_pics/6.png' %}">
        <p>Recruiters can notify the students and the information is sent to the college regarding the notification. Shortlisted students are notified.</p>
      </li>
      <li class="step">
        <img src="{% static 'images/process_pics/7.png' %}">
        <p>Recruiters can inform the college or the students regarding results of various rounds.</p>
      </li>
      <li class="step">
        <img src="{% static 'images/process_pics/8.png' %}">
        <p>After completion of selection process, recruiters can notify the selected students.</p>
      </li>
    </ol>
    
  </div>

  <div id="main-box">
   <h4>Why use our platform?</h4>
    <ol id="steps">
      <li class="step">
        <img src="{% static 'images/steps/1.png' %}" style="height: 30px !important;">
        <p>Send a direct request to the training and placement cell of the college for organizing a recruitment drive after signing up on the platform.</p>
      </li>
      <li class="step">
        <img src="{% static 'images/steps/2.png' %}" style="height: 30px !important;">
        <p>
        Pre-define the job criteria for the drive and only the elligible students can apply.
        </p>
      </li>
      <li class="step">
        <img src="{% static 'images/steps/3.png' %}" style="height: 30px !important;">
        <p>Get access to the resume and profile of the interested students.</p>
      </li>
      <li class="step">
        <img src="{% static 'images/steps/4.png' %}" style="height: 30px !important;">
        <p>Notify students and college about the result of various rounds of placement process.</p>
      </li>
      <li class="step">
        <img src="{% static 'images/steps/5.png' %}" style="height: 30px !important;">
        <p>After the drive is complete, notify the selected students about the result.</p>
      </li>
    </ol>
    
  </div>
{% endblock %}
