{% extends 'account/nav-landing.html' %}
{% load staticfiles %}
{% load material_form %}
{% block title %} Set Password {% endblock %}
{% block content %} 
	{% if successful %}
		<div class="row" style="min-height: 477px;">
			<h3 class="center col s12 flow-text teal-text text-accent-4">Your password has been reset successfully!</h3>
			<p class="center col s12 flow-text blue-text">We're still there if you happen to forget it again!</p>
			<div class="col s12">
				<a class="btn btn-waves-light col s8 offset-s2" style="width: 80%" href="{% url 'auth' %}">Login &nbsp;<i class="fa fa-sign-in fa-2x"></i></a>
			</div>
		</div>
	{% else %}
		<div id="password-reset-form-div" class="row" style="min-height: 477px;">
			<h4 class="col s12 m10 offset-m1 l8 offset-l2">Set Password</h4>
			<p class="red-text col s10 offset-s1">Make sure that password is a combination of alphabets, digits and special characters and is at least 8 characters long.</p>
			<form class="col s12 m10 offset-m1" action="{# url 'reset_password' user_hashid=user_hashid token=token #}" method='POST' id="password-reset-form">
				{% csrf_token %}
				{% form form=password_reset_form %}{% endform %}
				<div class="row">
					<button type="submit" name="resetpassword" class="btn btn-waves-light col s10 offset-s1">Reset Password</button>
				</div>
			</form>
		</div>
	{% endif %}
{% endblock %}
