{% extends 'account/base.html' %}
{% load staticfiles %}
{% load material_form %}
{% block title %} Set Password {% endblock %}
{% block content %} 
	{% if successful %}
		<div class="row">
			<h3 class="center col s12 flow-text teal-text text-accent-4">Your account has been verified!</h3>
			<p class="center col s12 flow-text blue-text">New password has been set. Make sure not to share it with anyone.</p>
			<div class="col s12">
				<a class="btn btn-waves-light col s8 offset-s2" style="width: 80%" href="{% url 'auth' %}">Login &nbsp;<i class="fa fa-sign-in fa-2x"></i></a>
			</div>
		</div>
	{% else %}
		{% if invalid %}
			<h3 class="center flow-text red-text"> The activation link is invalid.</h3>
			<p class="center flow-text blue-text">If you're viewing this page after clicking the reset link sent to your registered email address, then chances are that the link has already been used.<br>If you don't recognize this activity, then we suggest that you should change your password immediately.</p></b>
		{% else %}
		<div id="set-password-form-div" class="row">
			<h4 class="col s12">Set Password</h4>
			<form class="col s12" action="{% url 'usable_pwd_activation' user_hashid=user_hashid token=token %}" method='POST' id="set-password-form">
				{% csrf_token %}
				{% form form=set_password_form %}{% endform %}
				<div class="col s12">
					<button type="submit" name="setpassword" class="btn btn-waves-light col s8 offset-s2" style="width: 80%">Set Password</button>
				</div>
			</form>
		</div>
		{% endif %}
	{% endif %}
{% endblock %}
