{% extends 'account/nav-landing.html' %}
{% load staticfiles %}



{% block head %}
  <link type="text/css" rel="stylesheet" href="{% static 'common/css/font-awesome/css/font-awesome.min.css' %}" />
  <link type="text/css" rel="stylesheet" href="{% static 'materialize-blue.css' %}" />
  <link type="text/css" rel="stylesheet" href="{% static 'account/css/landing.css' %}" />
  <link type="text/css" rel="stylesheet" href="{% static 'account/css/stats.css' %}" />
{% endblock %}

{% block main %}
 <div id="heading">
  <h4>Placement records</h4>
  </div>
  <p>*This data is strictly hypothetical for now.</p>
  <div id="images">
  	<img src="{% static 'images/Placements-Stats.png' %}">
  	<img src="{% static 'images/Placement-Stats2.jpg' %}">
  </div>
{% endblock %}
