{% extends 'account/nav-landing.html' %}
{% load staticfiles %}

{% block title %}Meet the team – Training and placement cell – Guru Gobind Singh Indraprastha Univeristy | Meet the team of tnp portal at IP univerisity | Pratulya Bubna | Rajneesh Sharma | Shivam Sharma | IP  University web development team{% endblock %}

{% block head %}
  <link type="text/css" rel="stylesheet" href="{% static 'common/css/font-awesome/css/font-awesome.min.css' %}" />
  <link type="text/css" rel="stylesheet" href="{% static 'materialize-blue.css' %}" />
  <link type="text/css" rel="stylesheet" href="{% static 'account/css/team.css' %}" />

  <!--SEO work meta tags-->
    <meta name="keywords" content="Meet the team Training and placement cell Guru Gobind Singh Indraprastha Univeristy, Meet the team of tnp portal at IP univerisity, Pratulya Bubna, Rajneesh Sharma, Shivam Sharma, IP  University web development team"> 

	<meta name="description" content="Meet the team of training and placement portal at IP univerisity |  IP univeristy web development team | Pratulya Bubna | Rajneesh Sharma | Shivam Sharma | Tnp portal web development team IP univerisity | GGSIPU web development team">

	<meta name="twitter:title" content= "Meet the team – Training and placement cell – Guru Gobind Singh Indraprastha Univeristy | Meet the team of tnp portal at IP univerisity | Pratulya Bubna | Rajneesh Sharma | Shivam Sharma | IP  University web development team" />

	<meta name="twitter:description" content="Meet the team of training and placement portal at IP univerisity |  IP univeristy web development team | Pratulya Bubna | Rajneesh Sharma | Shivam Sharma | Tnp portal web development team IP univerisity | GGSIPU web development team" />

	<meta property="og:title" content="Meet the team – Training and placement cell – Guru Gobind Singh Indraprastha Univeristy | Meet the team of tnp portal at IP univerisity | Pratulya Bubna | Rajneesh Sharma | Shivam Sharma | IP  University web development team" />

	<meta property="og:description" content="Meet the team of training and placement portal at IP univerisity |  IP univeristy web development team | Pratulya Bubna | Rajneesh Sharma | Shivam Sharma | Tnp portal web development team IP univerisity | GGSIPU web development team" />
	<meta property="og:url" content= "https://placements.ggsipu.ac.in/team/" />
  <!--SEO work end-->

{% endblock %}

{% block main %}
  <div id="main-box">
   <h3>Meet the Team</h3>
   
   <div id="main-inside">
  
   <div class="box">
     <div class="pic z-depth-3"><img src="{% static 'account/images/team/bob.jpg' %}"></div>
     <div class="info">
       
       <h4>Pratulya Bubna</h4>
       <h5>USICT</h5>
       <div class="icons">
       <i class="fa fa-google-plus-square fa-2x" aria-hidden="true"></i>
       <i class="fa fa-facebook-square fa-2x" aria-hidden="true"></i>
         <i class="fa fa-linkedin-square fa-2x" aria-hidden="true"></i>
         </div>
    </div>
   </div>
     

   <div class="box">
     <div class="pic z-depth-3"><img src="{% static 'account/images/team/shivam.jpg' %}"></div>
     <div class="info">
      <h4>Shivam Sharma</h4>
       <h5>USICT</h5>
       <div class="icons">
       <i class="fa fa-google-plus-square fa-2x" aria-hidden="true"></i>
       <i class="fa fa-facebook-square fa-2x" aria-hidden="true"></i>
         <i class="fa fa-linkedin-square fa-2x" aria-hidden="true"></i>
         </div>
     </div>
   </div>


   <div class="box">
     <div class="pic z-depth-3"><img src="{% static 'account/images/team/rajjo.jpg' %}"></div>
     <div class="info">
      <h4>Rajneesh Sharma</h4>
       <h5>USICT</h5>
       <div class="icons">
       <i class="fa fa-google-plus-square fa-2x" aria-hidden="true"></i>
       <i class="fa fa-facebook-square fa-2x" aria-hidden="true"></i>
         <i class="fa fa-linkedin-square fa-2x" aria-hidden="true"></i>
         </div>
     </div>
   </div>
     
      
  </div>
  </div>
{% endblock %}
