
   .white_content3 {
      display: none;
      justify-content: center;
      align-items: center;
      position: fixed;
      top: 2.5%;
      left: 20%;
      width: 60%;
      height: 95%;
      border: 1px solid black;
      background-color: #e6e6e6;
      z-index:1002;
      overflow: auto;
      color: black;
      flex-direction: column;
      border-radius: 2%;
    }


     .white_content3 i
    {
        position: absolute;
        right: 10px;
        top: 10px;
        color: black;
    }

    button
    {
      margin-top: 10px;
    }