{% extends 'account/navbar_with_tabs.html' %}
{% load staticfiles %}
{% load material_form %}
{% block title %}Manage Dummy Session{% endblock %}
{% block home_url1 %}{{ home_url }}{% endblock %}
{% block home_url2 %}{{ home_url }}{% endblock %}
{% block home_url3 %}{{ home_url }}{% endblock %}
{% block home_url4 %}{{ home_url }}{% endblock %}
{% block pagetitle %}Manage Dummy Session{% endblock %}
{% block tabs %}
	<li class="tab col s2"><a class="active" href="#dsession-details">Details</a></li>
	<li class="tab col s2"><a class="" href="#dsession-students">Manage Session Students</a></li>
	<li class="tab col s2"><a class="" href="#edit-criteria">Edit Selection Criteria</a></li>
	<li id="dsessions" class="tab col s2"><a class="" href="#edit-dsession">Edit Session</a></li>
{% endblock tabs %}
{% block tabs_content %}
<!--                    -->
<div id="dsession-details" class="col s12">
	<h4 class="center light-blue-text text-darken-4">[DUMMY] {% if dsession.type == 'J' %}Job{% else %}Internship{% endif %} Posting</h4>
	<div class="col s12 m6">
		<div class="card">
			<div class="card-image waves-effect waves-block waves-light">
				<img class="activator" height=250 width=250 src="" style="background-color:#e1f5fe" />
			</div>
				<div class="card-content">
					<span class="card-title activator grey-text text-darken-4">{{ dcompany.name | title }}<i class="fa fa-ellipsis-v right"></i></span>
					<p><a href="{% if dcompany.website %}{{ dcompany.website }}{% else %}#!{% endif %}">Website</a></p>
				</div>
				<div class="card-reveal">
					<span class="card-title grey-text text-darken-4">{{ dcompany.name | title }}<i class="fa fa-times right"></i></span>
					<p><b>Salary:</b> {{ dsession.salary }} Lakhs per annum</p>
					<p><b>Status:</b> {{ dsession.status }} </p>
					<p><b>Details:</b> {{ dsession.desc }} </p>
					<p><b>Has The Session Ended? </b> {{ dsession.ended | yesno:"Yes,No"}} </p>
					{% include 'recruitment/criteria.html' with criterion=dsession.selection_criteria %}
				</div>
		</div>
	</div>
	<div class="col s12 m6">
		<div class="col s12">
			<div class="card teal lighten-5">
				<div class="card-content teal-text">
					<span class="card-title"><b>{{ dsession.programme }}</b></span>
					<p>{% for stream in dsession.streams.all %} {{ stream.name | title }},{% endfor %}</p>
				</div>
            </div>
		</div>
		<div class="col s12">
			<div class="card deep-purple lighten-5">
				<div class="card-content deep-purple-text">
					<span class="card-title"><b>Enrolments</b></span>
					{% with dsession.students.count as count %}
						<p><b>{{ count }}</b> student{{ count | pluralize }} {{count|pluralize:"is,are"}} currently enrolled.</p>
					{% endwith %}
				</div>
            </div>
		</div>
		<div class="col s12">
			<div class="card pink lighten-5">
				<div class="card-content pink-text">
					<span class="card-title"><b>Application Deadline</b></span>
					{% with dsession.application_deadline as deadline %}
						<p>{{ deadline|date:"d F Y, l" }}{% if deadline >= deadline.today %}&emsp;({{ deadline|timeuntil }} left){% endif %}</p>
					{% endwith %}
				</div>
            </div>
		</div>
	</div>
</div>
<!--                                     -->
<div id="dsession-students" class="col s12 m10 offset-m1">
	<div class="col s12">
		<h4 class="center" style="color: goldenrod;">Alter Students' List</h4>
		<form action="{% url 'manage_dsession_students' dsess_hashid=dsess_hashid %}" method='POST' class="col s12 m8 offset-m2" id="manage-dsession-students-form">
			{% csrf_token %}
			{% form form=manage_dsession_students_form %}{% endform %}
			<div class="row">
				<button class="btn btn-waves-light col s8 offset-s2">Save Changes</button>
			</div>
		</form>
	</div>
</div>
<!--                                     -->
	<div id="edit-criteria" class="col s12">
		<div class="col s12">
			<h4 class="center" style="color: goldenrod;">Edit Selection Criteria</h4>
			<form action="{% url 'edit_dcriteria' dsess_hashid=dsess_hashid %}" method='POST' class="col s12 m8 offset-m2" id="edit-dcriteria-form">
				{% csrf_token %}
				{% form form=edit_dcriteria_form %}{% endform %}
				<div class="row">
					<button class="btn btn-waves-light col s8 offset-s2">Save Changes</button>
				</div>
			</form>
		</div>
	</div>
<!--                                     -->
	<div id="edit-dsession" class="col s12">
		<div class="col s12">
			<h4 class="center" style="color: goldenrod;">Edit Session Details</h4>
			<form action="{% url 'edit_dsession' dsess_hashid=dsess_hashid %}" method='POST' class="col s12 m8 offset-m2" id="edit-dsession-form">
				{% csrf_token %}
				{% form form=edit_dsession_form %}{% endform %}
				<div class="row">
					<button class="btn btn-waves-light col s8 offset-s2">Save Changes</button>
				</div>
			</form>
		</div>
	</div>
<!--                                     -->
{% endblock tabs_content %}
{% block scripts %}

	<script type="text/javascript" src="{% static 'recruitment/manage.js' %}"></script>
	<script src="{% static 'sweetalert/dist/sweetalert.min.js' %}"></script>
	<script>
		$(document).ready(function() {
			ManageSession.init(['manage-dsession-students-form', 'edit-dcriteria-form', 'edit-dsession-form']);
		});
	</script>
{% endblock scripts %}

