{% extends 'account/navbar_with_tabs.html' %}
{% load staticfiles %}
{% load material_form %}
{% block title %}Manage Dummy Company{% endblock %}
{% block home_url1 %}{% url 'college_home' %}{% endblock %}
{% block home_url2 %}{% url 'college_home' %}{% endblock %}
{% block home_url3 %}{% url 'college_home' %}{% endblock %}
{% block home_url4 %}{% url 'college_home' %}{% endblock %}
{% block pagetitle %}Manage Dummy Company{% endblock %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'sweetalert/dist/sweetalert.css' %}">

{% endblock %}

{% block user_photo2 %}
	{% if college.photo %}
		<img src="{{ college.photo.url }}" class="circle" height="30" width="30" id="img-corner">
	{% else %}
		<img src="{% static 'images/college.png' %}" class="circle" height="30" width="30" id="img-corner">
	{% endif %}
{% endblock %}

{% block user_name_card_s %}
	{{ college.get_short_name }}
{% endblock %}

{% block user_email_id_s %}
	{{ college.profile.email }}
{% endblock %}

{% block user_photo_s %}
	{% if college.photo %}
		<img src="{{ college.photo.url }}" class="circle" height="90" width="90">
	{% else %}
		<img src="{% static 'images/college.png' %}" class="circle" height="90" width="90">
	{% endif %}
{% endblock %}

{% block user_photo %}
	{% if college.photo %}
		<img src="{{ college.photo.url }}" class="circle" height="64" width="64">
	{% else %}
		<img src="{% static 'images/college.png' %}" class="circle" height="64" width="64">
	{% endif %}
{% endblock %}

{% block user_name_card %}
	{{ college.get_short_name }}
{% endblock %}

{% block user_email_id %}
	{{ college.profile.email }}
{% endblock %}

{% block lightbox_data %}
	<div id="light3" class="white_content3">
		<h4 style="color: goldenrod;">Notify All Students</h4>
		<form method='POST' action="#!" id="notify-session-students-form">
			{% csrf_token %}
			{% form form=notify_session_students_form %}{% endform %}
			<div class="row center">
				<button class="btn btn-waves" style="width: 100%">Submit</button>
			</div>
		</form>
		<a href = "javascript:void(0)" onclick = "document.getElementById('light3').style.display='none'; document.getElementById('fade3').style.display='none'; "><i class="fa fa-times fa-2x"></i></a>
	</div>
	<div id="fade3" class="black_overlay3"></div>
 {% endblock %}

{% block side_nav_links %}
	<li><a class="waves-effect" href="#!"><i class="fa fa-home" aria-hidden="true"></i>
            Home</a></li>
    <li><a class="waves-effect" href="#!"><i class="fa fa-building" aria-hidden="true"></i>
          Create Dummy Company</a></li>
    <li><a class="waves-effect" href="#!"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>
          Edit Dummy Company</a></li>      
    <li><a class="waves-effect" href="#!"><i class="fa fa-clock-o" aria-hidden="true"></i> 
          Create Dummy Session</a></li>
    <li><a class="waves-effect" href="#!"><i class="fa fa-pencil" aria-hidden="true"></i>
	Edit Criteria</a></li>     
    <li><a class="waves-effect" href="#!"><i class="fa fa-clock-o" aria-hidden="true"></i>
            Dummy Sessions</a></li>
         

    
{% endblock %}

{% block tabs %}
	<li class="tab col s3"><a class="active" href="#createdc">Create Dummy Company</a></li>
	<li class="tab col s3"><a class="" href="#createds">Create Dummy Session</a></li>
	<li id="dsessions" class="tab col s3"><a class="" href="#dsess">Dummy Sessions</a></li>
{% endblock tabs %}
{% block tabs_content %}
<!--                    -->
<div id="createdc" class="col s12">
	<div class="vertical-tabs">
		<div class="row">
			<div class="col s3">
				<ul class="tabs">
					<li class="tab col s12"><a class="active" href="#v-createdc">Create Dummy Company</a></li>
					<li class="tab col s12"><a href="#v-editdc">Edit Dummy Company</a></li>
				</ul>
			</div>
			<div class="col s8 offset-s1">
				<div class="col s12" id="v-createdc">
					<h4 class="center" style="color: goldenrod;">Create Dummy Company</h4>
					<form action="{% url 'create_dcompany' %}" method='POST' class="col s8 offset-s2" id="create-dummy-company-form">
						{% csrf_token %}
						{% form form=create_dummy_company_form %}{% endform %}
						<div class="row">
							<button class="btn btn-waves-light col s8 offset-s2" style="width: 80%">Create Dummy Company</button>
						</div>
					</form>
				</div>
			</div>
			<div class="col s8 offset-s1" id="edit-forms-div">
				<div class="col s12" id="v-editdc">
					<h4 class="center" style="color: goldenrod;">Edit Dummy Company</h4>
					<form action="{% url 'edit_dcompany_form' %}" method='POST' class="col s8 offset-s2" id="choose-dummy-company-form">
						{% csrf_token %}
						{% form form=choose_dummy_company_form %}{% endform %}
						<div class="row">
							<button class="btn btn-waves-light col s8 offset-s2" style="width: 80%">Choose This Company</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
<!--                                     -->
<div id="createds" class="col s12 m10 offset-m1">
	<div class="col s12">
		<h4 class="center" style="color: goldenrod;">Create Dummy Session</h4>
		<form action="{% url 'create_dsession' %}" method='POST' class="col s12" id="create-dummy-session-form">
			{% csrf_token %}
			{% form form=create_dummy_session_form %}{% endform %}
			{% form form=create_selection_criteria_form %}{% endform %}
			<div class="row">
				<button class="btn btn-waves-light col s8 offset-s2">Create Dummy Session</button>
			</div>
		</form>
	</div>
</div>
<!--                                     -->
	<div id="dsess" class="col s12"></div>
<!--                                     -->
{% endblock tabs_content %}
{% block scripts %}
	<script type="text/javascript" src="{% static 'common/settings.js' %}"></script>
	<script type="text/javascript" src="{% static 'dummy_company/create_session.js' %}"></script>
	<script src="{% static 'sweetalert/dist/sweetalert.min.js' %}"></script>
	<script>
		$(document).ready(function() {
			Settings.init(['create-dummy-company-form']);
			DSession.init();
		});
	</script>
{% endblock %}
