{% load staticfiles %}
{% load material_form %}


    <form method = 'POST' id = "create_notification-form" students="{% url 'select_years' %}" action="{% url 'create_notification' %}">
        {% csrf_token %}
        {% form form=create_notification %}{% endform %}                 
    	
    	<button type = 'input' id = "notifyall" data-id="false" class="btn waves-effect waves-light-right">Notify All</button>
    </form>
<script>$('#create_notification-form').find('select').material_select();</script>
