<!DOCTYPE html>
<html>
{% load staticfiles %}
{% load material_form %}
<script src="{% static 'material/js/jquery-2.2.0.js' %}"></script>
{% include 'material/includes/material_js.html' %}

<head>
    <title>Issue</title>
<!--    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script> -->
</head>
<body>
    <form method = 'POST' id = "submit_issue-form" action="{% url 'submit_issue' %}">
        {% csrf_token %}
        {% form form=issue_form %}
        {% endform %}                 
        <button type="submit" id="submitissue" class="btn waves-effect waves-light-right">Submit</button>
    </form>
</body>
